<ion-app>
<ion-header class="page-header ion-no-border">
  <ion-toolbar>
    <ion-title>
      <ion-item id="title" lines="none" class="ion-no-padding">
        <ion-icon class="menu-btn" (click)="openMenu()" src="assets/menuIcon.svg"></ion-icon>
        Terminal
        <ion-label 
        (click)="presentPopover($event)" 
        fill="clear"
        lines="none" 
        slot="end"
        class="resize-tool-btn">aA</ion-label>
      </ion-item>
      <ion-item id="subtitle" class="breadcrumb ion-no-padding" lines="none">
        Minima terminal
      </ion-item>
    </ion-title>
      
  </ion-toolbar>
</ion-header>



<ion-content class="page-content" #ionContent>
    <textarea
    #terminal
    background="transparent"
    class="terminal"
    [ngStyle] = "{'font-size': fontSize+'px'}" 
    autocapitalize="false"
    spellcheck="false"
    autocorrect="off"></textarea>
</ion-content>

<app-footer></app-footer>
</ion-app>


