.terminal {
    min-height: 100%;
    width: 100%;
    background-color: var(--ion-background-color, #ffffff);
    color: var(--ion-text-color, #000000);
    padding: 5px;
    font-family: monospace;
}

.resize-tool-btn {
    font-family: 'Aeonik';
    font-size: 16px;
    padding-right: 15px;
    color: #929396;
    text-transform: none;
}

.no-scroll {
    --overflow: hidden;
}
ion-content {
    --overflow: hidden;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

@media only screen and (min-width: 990px) {
    .terminal {
        font-size: 16px;
        border: 0px;
    }
     
}