<ion-app>
<ion-header class="ion-no-border">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="menu-icon"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Terminal
    </ion-title>
      <ion-label 
      (click)="presentPopover($event)" 
      fill="clear"
      lines="none" 
      slot="end"
      class="resize-tool-btn">aA</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content #ionContent>
  <!-- Terminal -->
  <textarea
  #terminal
  background="transparent"
  class="terminal"
  [ngStyle] = "{'font-size': getFontSize()}" 
  autocapitalize="false"
  spellcheck="false"
  autocorrect="off"></textarea>
</ion-content>
</ion-app>
<!-- <div class="terminal">
  <div id="history">
    
  </div>
  <div class="line">
    <span id="path">c:/&nbsp;>&nbsp;</span>
    <input type="text" id="input">
  </div>
</div> -->

