<?xml version='1.0' encoding='utf-8'?>
<manifest package="capacitor.android.plugins"
xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:amazon="http://schemas.amazon.com/apk/res/android">
<application>
<provider android:name="de.appplant.cordova.plugin.notification.util.AssetProvider" android:authorities="${applicationId}.localnotifications.provider" android:exported="false" android:grantUriPermissions="true">
  <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/localnotification_provider_paths"/>
</provider>
<receiver android:name="de.appplant.cordova.plugin.localnotification.TriggerReceiver" android:exported="false"/>
<receiver android:name="de.appplant.cordova.plugin.localnotification.ClearReceiver" android:exported="false"/>
<receiver android:name="de.appplant.cordova.plugin.localnotification.RestoreReceiver" android:directBootAware="true" android:exported="false">
  <intent-filter>
    <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>
    <action android:name="android.intent.action.BOOT_COMPLETED"/>
  </intent-filter>
</receiver>
<service android:name="de.appplant.cordova.plugin.localnotification.ClickReceiver" android:exported="false"/>
</application>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
<uses-permission android:name="android.permission.WAKE_LOCK"/>
<uses-permission android:name="android.permission.CAMERA" android:required="false"/>
<uses-feature android:name="android.hardware.camera" android:required="false"/>
<uses-feature android:name="android.hardware.camera.front" android:required="false"/>
</manifest>