.activate-btn-minus {
    color: #929396;
    text-align: centre;
    font-size: 12px;
}
.activate-btn-add {
    color: #929396;
    text-align: center;
    font-size: 20px;
}


// iOS edit.
.ios ion-button {
    margin: auto;
}
.ios .pop-term-col {
    width: 100%;
    height: auto;  
}
.ios .activate-btn-minus {
    color: #929396;
    padding-top: 18px;
    font-size: 14px;
    text-align: center;
}
.ios .activate-btn-add {
    color: #929396;
    font-size: 20px;
    text-align: center;
}
