  ion-row {
    width: 100%;
  }
  #token-card:hover {
    transform: scale(1.001);
    border-color: var(--ion-color-primary);
  }
  #token-card ion-label {
    margin:0;
  }
  ion-card-header {
    font-family: manrope-bold;
    color: var(--ion-color-tertiary);
    background: var(--ion-m-background);
  }
  img {
    width: 200px;
  }
  .custom-icon {
    max-height: 40px !important;
    max-width: 40px !important;   
  }
  ion-icon.nftIcon {
    font-size: 2.0rem;
    z-index:1; 
    position: absolute;
    right:0;
    bottom: 2%;
  }
  ion-icon.nftIcon:hover {
    transform: scale(1.1);
  }
  p {
    margin:0;
  }