<ion-grid>
  <ion-row>
    <ion-col *ngFor="let token of tokenArr; let i = index;" size="12" size-md="6">
      <ion-card routerLink="/view-tokens/{{ token.tokenid }}" class="borders" *ngIf="i <= tokenArr.length" id="token-card" [ngStyle] = "{'border-right':  token.script && token.script === 'RETURN_TRUE' ? '3px solid var(--ion-color-secondary)' : '1px solid var(--ion-color-primary)'}">
        <ion-card-header>
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img *ngIf="token.tokenid !== '0x00' && token.icon.length == 0" class="custom-icon" [src]="createIcon( token.tokenid )" />
              <img *ngIf="token.tokenid !== '0x00' && token.icon.length > 0" class="custom-icon" [src]="token.icon"/>
              <img *ngIf="token.tokenid == '0x00'" class="custom-icon" alt="minima" src="assets/minima-logo-box.svg">
            </ion-avatar>
            <ion-label>
              <h3> {{ token.token }} </h3>
              <p *ngIf="token.tokenid === '0x00'">Official Token</p>
              <p *ngIf="token.tokenid !== '0x00'"> {{ token.description }} </p>
            </ion-label>
            <ion-label>
              <span *ngIf="token.unconfirmed != '0';" class="confirmed-amount medium-text minima-numeric">{{ token.sendable + "/" + token.unconfirmed  }}</span>
              <span *ngIf="token.unconfirmed == '0';" class="confirmed-amount medium-text minima-numeric">{{ token.sendable }} </span>
            </ion-label>
          </ion-item>
          <ion-icon class="nftIcon" *ngIf="token.script && token.script === 'ASSERT FLOOR ( @AMOUNT ) EQ @AMOUNT LET checkout = 0 WHILE ( checkout LT @TOTOUT ) DO IF GETOUTTOK ( checkout ) EQ @TOKENID THEN LET outamt = GETOUTAMT ( checkout ) ASSERT FLOOR ( outamt ) EQ outamt ENDIF LET checkout = INC ( checkout ) ENDWHILE RETURN TRUE'" src="assets/nft2.svg"></ion-icon>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>