ion-list ion-item ion-range ion-label {
        font-size: 1.0rem;
        font-weight: 300;
        position:relative;
}
.amount-font{
    font-size: 1rem;
    
}

ion-footer ion-toolbar ion-buttons ion-button{
   width: 100%;
}

ion-card {
    border-radius: 30px;
    background-color: #FFFFFF;
}

.tokenStyle {
    color: #FF671D;
}

ion-toolbar ion-title {
    
    font-weight: 300;
    position:relative;
}
.action-btn {
    height: 40px;
  }
  .action-btn:hover {
    height: 50px;
  }