.rightAlign {
	text-align: right;
}

.transparentBody {
	background: transparent !important;
}

// ion-app.transparentBody ion-nav{opacity:0}

// ion-app.transparentBody, ion-app.transparentBody ion-content, ion-app.transparentBody .nav-decor {
	 
// 	--background: none transparent !important;
//   }

ion-toolbar {
	ion-menu-button{
		--color:rgba(0, 0, 0, 0.5);
	}

}

ion-item{
	--background:none;
	--padding-start: 0;
}

ion-menu-button{
	--color:#06ABC7 !important;
}

ion-menu{

	ion-item{
		height: 50px;
		line-height: 50px;
		color:#444;
		--padding-start: 20px;

		
	}

	.selected{
		--background:rgb(220, 23, 23);
	}
	
	.menuToolbar{
		--background:rgba(221, 221, 221, 0.852);
		--padding-start:20px;
		--padding-end:20px;
		.logo{
			height:60px;
			margin:20px 0;
			width:100%;
			background:url(assets/logo.png) no-repeat left center;
			background-size: auto 100%;
		}
	}
}

ion-card{
	--background:#e9ecef !important;
	box-shadow:none !important;
}




// .qrcode{
// 	img {
// 		margin: auto;
// 		width:100%;
// 	}
// }



	