// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/


/** Ionic CSS Variables **/
  :root {
    /** font-family **/
    --ion-font-family: 'Aeonik';
    /** primary **/
    --ion-color-primary: #06ABC7;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;

    /** secondary **/
    --ion-color-secondary: #0cd1e8;
    --ion-color-secondary-rgb: 12, 209, 232;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #0bb8cc;
    --ion-color-secondary-tint: #24d6ea;

    /** tertiary **/
    --ion-color-tertiary: #000000;
    --ion-color-tertiary-rgb: 112, 68, 255;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #633ce0;
    --ion-color-tertiary-tint: #7e57ff;

    /** success **/
    --ion-color-success: #93C54B;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #93C54B;
    --ion-color-success-tint: #93C54B;

    /** warning **/
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;

    /** danger **/
    --ion-color-danger: #d33939;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;

    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;

    /** medium **/
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;

    /** custom Minima css vars **/
    --minima-terminal-size: 12px;
    --overflow: hidden;

    $alert-ios-content-max-height:700px !default;
    $alert-md-content-max-height:400px !default;
  }
  // FIX POP UP IN SEND-FUNDS.. WON'T WORK OTHERWISE
  .alert-wrapper.sc-ion-alert-md {
    max-width: 20% !important;
    width: 50% !important;
  }
  .ios .alert-wrapper.sc-ion-alert-md {
    max-width: 20% !important;
    width: 50% !important;
  }

  .ios ion-header {
    padding-top: 10px;
  }


/** FONT FAMILIES */
@font-face {
  font-family: 'Monotype';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/monotype.ttf');
}
@font-face {
  font-family: 'Optima';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/OPTIMA.woff');
}
@font-face {
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Aeonik-Regular.otf');
}
@font-face {
  font-family: 'Aeonik-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Aeonik-Medium.otf');
}
@font-face {
  font-family: 'Blooming';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Blooming-Elegant-Sans.otf');
}
@font-face {
  font-family: 'Aeonik-Light';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Aeonik-Light.otf');
}
@font-face {
  font-family: 'Ridley-normal';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/RidleyGroteskDemo-Regular.otf');
}


/** POPOVER COMPONENTS */
.history-popover {
  opacity: 0.96;
  font-family: 'Aeonik-light'; 
}

.ios .balance-popover {
  --width: 200px;
  --height: 80px;
  opacity: 0.96;
}
.md .balance-popover {
  --width: 200px;
  opacity: 0.96;

}
@media only screen and (min-width: 992px) {
    .balance-popover {
      --width: 200px;
      --height: 100px;
    opacity: 0.96;

    }

}
