// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

@font-face {
  font-family: 'Monotype';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/monotype.ttf');
}
// app fonts 
@font-face {
  font-family: 'manrope-bold';
  src: url('../fonts/manrope-bold.otf');
}
@font-face {
  font-family: 'manrope-light';
  src: url('../fonts/manrope-light.otf');
}
@font-face {
  font-family: 'manrope-regular';
  src: url('../fonts/manrope-regular.otf');
}
@font-face {
  font-family: 'manrope-semibold';
  src: url('../fonts/manrope-semibold.otf');
}
@font-face {
  font-family: 'manrope-medium';
  src: url('../fonts/manrope-medium.otf');
}

:root {

  --ion-color-primary: #317aff;
  --ion-color-primary-rgb: 49,122,255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #2b6be0;
  --ion-color-primary-tint: #4687ff;

  --ion-color-secondary: #FF512F;
  --ion-color-secondary-rgb: 255,81,47;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #e04729;
  --ion-color-secondary-tint: #ff6244;

  --ion-color-tertiary: #001C32;
  --ion-color-tertiary-rgb: 0,28,50;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #00192c;
  --ion-color-tertiary-tint: #1a3347;

  --ion-color-success: #00CBB6;
  --ion-color-success-rgb: 0,203,182;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #00b3a0;
  --ion-color-success-tint: #1ad0bd;

  --ion-color-warning: #F0F0FA;
  --ion-color-warning-rgb: 240,240,250;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #d3d3dc;
  --ion-color-warning-tint: #f2f2fb;

  --ion-color-danger: #F5455C;
  --ion-color-danger-rgb: 245,69,92;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d83d51;
  --ion-color-danger-tint: #f6586c;

  --ion-color-icon: #FF512F;
  --ion-color-icon-rgb: 255,81,47;
  --ion-color-icon-contrast: #000000;
  --ion-color-icon-contrast-rgb: 0,0,0;
  --ion-color-icon-shade: #e04729;
  --ion-color-icon-tint: #ff6244;

  /** Token Colors */
  --ion-color-token: #FDFDFF;
  --ion-color-token-rgb: 253,253,255;
  --ion-color-token-contrast: #000000;
  --ion-color-token-contrast-rgb: 0,0,0;
  --ion-color-token-shade: #dfdfe0;
  --ion-color-token-tint: #fdfdff;
  /** Item Hover */
  --ion-color-item-hover: #F0F0FA;
  --ion-color-item-hover-rgb: 240,240,250;
  --ion-color-item-hover-contrast: #000000;
  --ion-color-item-hover-contrast-rgb: 0,0,0;
  --ion-color-item-hover-shade: #d3d3dc;
  --ion-color-item-hover-tint: #f2f2fb;
  /** Text Color */
  --ion-color-color: #001C32;
  --ion-color-color-rgb: 0,28,50;
  --ion-color-color-contrast: #ffffff;
  --ion-color-color-contrast-rgb: 255,255,255;
  --ion-color-color-shade: #00192c;
  --ion-color-color-tint: #1a3347;
  /** Subtitle Ruler Color */
  --ion-color-ruler: #91919D;
  --ion-color-ruler-rgb: 145,145,157;
  --ion-color-ruler-contrast: #000000;
  --ion-color-ruler-contrast-rgb: 0,0,0;
  --ion-color-ruler-shade: #80808a;
  --ion-color-ruler-tint: #9c9ca7;
  /** Title Ruler Color */
  --ion-color-title-ruler: #001C32;
  /** Item Border Color */
  --ion-color-item-border: #F0F0FA;
  --ion-color-item-border-rgb: 240,240,250;
  --ion-color-item-border-contrast: #000000;
  --ion-color-item-border-contrast-rgb: 0,0,0;
  --ion-color-item-border-shade: #d3d3dc;
  --ion-color-item-border-tint: #f2f2fb;
  /** Background Color in Desktop Mode */
  --ion-color-background: #FAFAFF;
  --ion-color-background-rgb: 250,250,255;
  --ion-color-background-contrast: #000000;
  --ion-color-background-contrast-rgb: 0,0,0;
  --ion-color-background-shade: #dcdce0;
  --ion-color-background-tint: #fbfbff;
  

  /** Forms **/
  --ion-color-inputs: #FFFFFF;


  --ion-color-form-buttons: #FFFFFF;
  --ion-color-form-buttons-rgb: 255,250,240;
  --ion-color-form-buttons-contrast: #000000;
  --ion-color-form-buttons-contrast-rgb: 0,0,0;
  --ion-color-form-buttons-shade: #e0dcd3;
  --ion-color-form-buttons-tint: #fffbf2;

  // Input Error Messages
  --ion-color-error: #CD3670;
  --ion-color-error-rgb: 205,54,112;
  --ion-color-error-contrast: #ffffff;
  --ion-color-error-contrast-rgb: 255,255,255;
  --ion-color-error-shade: #b43063;
  --ion-color-error-tint: #d24a7e;
  // Input Icon Error
  --ion-color-error-icon: #C2074B;
  --ion-color-error-icon-rgb: 194,7,75;
  --ion-color-error-icon-contrast: #ffffff;
  --ion-color-error-icon-contrast-rgb: 255,255,255;
  --ion-color-error-icon-shade: #ab0642;
  --ion-color-error-icon-tint: #c8205d;

  --ion-background-color: #FAFAFF;
  --minima-terminal-size: 12px;
  --overflow: hidden;
  --ion-color-selected: #001C32;
  --ion-color-line: #fff;
  --ion-color-hide-footer: #f0f0fa;

}

body.dark {

  --ion-color-item-hover: #445771;
  --ion-color-item-hover-rgb: 68,87,113;
  --ion-color-item-hover-contrast: #ffffff;
  --ion-color-item-hover-contrast-rgb: 255,255,255;
  --ion-color-item-hover-shade: #3c4d63;
  --ion-color-item-hover-tint: #57687f;

  --ion-color-tertiary: #F0F0FA;
  --ion-color-tertiary-rgb: 240,240,250;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #d3d3dc;
  --ion-color-tertiary-tint: #f2f2fb;

  --ion-color-item-border: #4A5976;
  --ion-color-item-border-rgb: 74,89,118;
  --ion-color-item-border-contrast: #ffffff;
  --ion-color-item-border-contrast-rgb: 255,255,255;
  --ion-color-item-border-shade: #414e68;
  --ion-color-item-border-tint: #5c6a84;

  --ion-color-token: #062841;
  --ion-color-token-rgb: 6,40,65;
  --ion-color-token-contrast: #ffffff;
  --ion-color-token-contrast-rgb: 255,255,255;
  --ion-color-token-shade: #052339;
  --ion-color-token-tint: #1f3e54;


  ion-footer {
    border-top: 1px solid var(--ion-color-item-border);
  }
  ion-menu {
    border-right: 1px solid var(--ion-color-item-border);
  }

  --ion-color-inputs: #F0F0FA;
  --ion-color-ruler: #4A5976;
  --ion-color-title-ruler: #FFF;
  --ion-color-background: #001C32;
  --ion-background-color: #001C32;
  --ion-color-hide-footer: #001C32;
}

@media (prefers-color-scheme: dark) {
  ion-avatar {
    img {
      opacity: 0.8;
    }
  }
  body {

    --ion-color-item-hover: #445771;
    --ion-color-item-hover-rgb: 68,87,113;
    --ion-color-item-hover-contrast: #ffffff;
    --ion-color-item-hover-contrast-rgb: 255,255,255;
    --ion-color-item-hover-shade: #3c4d63;
    --ion-color-item-hover-tint: #57687f;

    --ion-color-tertiary: #F0F0FA;
    --ion-color-tertiary-rgb: 240,240,250;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0,0,0;
    --ion-color-tertiary-shade: #d3d3dc;
    --ion-color-tertiary-tint: #f2f2fb;

    --ion-color-item-border: #4A5976;
    --ion-color-item-border-rgb: 74,89,118;
    --ion-color-item-border-contrast: #ffffff;
    --ion-color-item-border-contrast-rgb: 255,255,255;
    --ion-color-item-border-shade: #414e68;
    --ion-color-item-border-tint: #5c6a84;

    --ion-color-token: #062841;
    --ion-color-token-rgb: 6,40,65;
    --ion-color-token-contrast: #ffffff;
    --ion-color-token-contrast-rgb: 255,255,255;
    --ion-color-token-shade: #052339;
    --ion-color-token-tint: #1f3e54;

    --ion-color-form-buttons: #001C32;
    --ion-color-form-buttons-rgb: 0,28,50;
    --ion-color-form-buttons-contrast: #ffffff;
    --ion-color-form-buttons-contrast-rgb: 255,255,255;
    --ion-color-form-buttons-shade: #00192c;
    --ion-color-form-buttons-tint: #1a3347;


    ion-footer {
      border-top: 1px solid var(--ion-color-item-border);
    }
    ion-menu {
      border-right: 1px solid var(--ion-color-item-border);
    }

    --ion-color-inputs: #F0F0FA;
    --ion-color-ruler: #4A5976;
    --ion-color-title-ruler: #FFF;
    --ion-color-background: #001C32;
    --ion-background-color: #001C32;
    --ion-color-hide-footer: #001C32;
  }
  body.light {

    --ion-color-primary: #317aff;
    --ion-color-primary-rgb: 49,122,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #2b6be0;
    --ion-color-primary-tint: #4687ff;
  
    --ion-color-secondary: #FF512F;
    --ion-color-secondary-rgb: 255,81,47;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #e04729;
    --ion-color-secondary-tint: #ff6244;
  
    --ion-color-tertiary: #001C32;
    --ion-color-tertiary-rgb: 0,28,50;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #00192c;
    --ion-color-tertiary-tint: #1a3347;
  
    --ion-color-success: #69bb7b;
    --ion-color-success-rgb: 105,187,123;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #5ca56c;
    --ion-color-success-tint: #78c288;
  
    --ion-color-warning: #F0F0FA;
    --ion-color-warning-rgb: 240,240,250;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #d3d3dc;
    --ion-color-warning-tint: #f2f2fb;
  
    --ion-color-danger: #d33939;
    --ion-color-danger-rgb: 211,57,57;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #ba3232;
    --ion-color-danger-tint: #d74d4d;
  
    --ion-color-icon: #FF512F;
    --ion-color-icon-rgb: 255,81,47;
    --ion-color-icon-contrast: #000000;
    --ion-color-icon-contrast-rgb: 0,0,0;
    --ion-color-icon-shade: #e04729;
    --ion-color-icon-tint: #ff6244;
  
    /** Token Colors */
    --ion-color-token: #FDFDFF;
    --ion-color-token-rgb: 253,253,255;
    --ion-color-token-contrast: #000000;
    --ion-color-token-contrast-rgb: 0,0,0;
    --ion-color-token-shade: #dfdfe0;
    --ion-color-token-tint: #fdfdff;
    /** Item Hover */
    --ion-color-item-hover: #F0F0FA;
    --ion-color-item-hover-rgb: 240,240,250;
    --ion-color-item-hover-contrast: #000000;
    --ion-color-item-hover-contrast-rgb: 0,0,0;
    --ion-color-item-hover-shade: #d3d3dc;
    --ion-color-item-hover-tint: #f2f2fb;
    /** Text Color */
    --ion-color-color: #001C32;
    --ion-color-color-rgb: 0,28,50;
    --ion-color-color-contrast: #ffffff;
    --ion-color-color-contrast-rgb: 255,255,255;
    --ion-color-color-shade: #00192c;
    --ion-color-color-tint: #1a3347;
    /** Subtitle Ruler Color */
    --ion-color-ruler: #91919D;
    --ion-color-ruler-rgb: 145,145,157;
    --ion-color-ruler-contrast: #000000;
    --ion-color-ruler-contrast-rgb: 0,0,0;
    --ion-color-ruler-shade: #80808a;
    --ion-color-ruler-tint: #9c9ca7;
    /** Title Ruler Color */
    --ion-color-title-ruler: #001C32;
    /** Item Border Color */
    --ion-color-item-border: #F0F0FA;
    --ion-color-item-border-rgb: 240,240,250;
    --ion-color-item-border-contrast: #000000;
    --ion-color-item-border-contrast-rgb: 0,0,0;
    --ion-color-item-border-shade: #d3d3dc;
    --ion-color-item-border-tint: #f2f2fb;
    /** Background Color in Desktop Mode */
    --ion-color-background: #FAFAFF;
    --ion-color-background-rgb: 250,250,255;
    --ion-color-background-contrast: #000000;
    --ion-color-background-contrast-rgb: 0,0,0;
    --ion-color-background-shade: #dcdce0;
    --ion-color-background-tint: #fbfbff;
  
    /** Forms **/
    --ion-color-inputs: #FFFFFF;
  
    // Input Error Messages
    --ion-color-error: #CD3670;
    --ion-color-error-rgb: 205,54,112;
    --ion-color-error-contrast: #ffffff;
    --ion-color-error-contrast-rgb: 255,255,255;
    --ion-color-error-shade: #b43063;
    --ion-color-error-tint: #d24a7e;
    // Input Icon Error
    --ion-color-error-icon: #C2074B;
    --ion-color-error-icon-rgb: 194,7,75;
    --ion-color-error-icon-contrast: #ffffff;
    --ion-color-error-icon-contrast-rgb: 255,255,255;
    --ion-color-error-icon-shade: #ab0642;
    --ion-color-error-icon-tint: #c8205d;
  
    --ion-background-color: #FAFAFF;
    --minima-terminal-size: 12px;
    --overflow: hidden;
    --ion-color-selected: #001C32;
    --ion-color-line: #fff;
    --ion-color-hide-footer: #f0f0fa;
  
  }
}

.split-pane-md {
  --border: 1px solid #001C32;
}
ion-icon.back-btn {
  float: left;
  padding: 0;
  margin: 0;
  margin-right: 7px;
  cursor: pointer;
  color: var(--ion-color-tertiary);
}
ion-icon.back-btn:hover {
  opacity: 0.8;
}
ion-icon.menu-btn {
  display: block;
  width: 15px;
  height: 15px;
  float: left;
  padding: 0;
  margin: 0;
  margin-right: 7px;
  cursor: pointer;
  color: var(--ion-color-tertiary);
}
@media only screen and (min-width: 992px) {
  ion-icon.menu-btn {
    display: none;
  }
}

// Global
.no-hover {
  --background-hover: none !important;
}
.no-ripple {
  --ripple-color: transparent;
  --ripple-color: transparent;
  --background-activated: transparent;
  --background-activated-opacity:transparent;
  --background-focused: transparent;
  --background-focused-opacity:transparent;
  --background-hover  : transparent;
  --background-hover-opacity  :transparent;
}
ion-toolbar {
  ion-title {
    font-size: 18px;
    ion-item#title {
      --border-color: var(--ion-color-title-ruler);
      --border-width: 0px 0px 1px 0px;
      font-size: 1.125rem;
      --min-height: 39px;
      font-family: manrope-bold;
      color: var(--ion-color-tertiary);
    }
    ion-item#subtitle {
      --border-color: var(--ion-color-ruler);
      --border-width: 0px 0px 1px 0px;
      --min-height: 39px;
      color: var(--ion-color-tertiary);
      font-family: manrope-medium;
    }
  }
}
ion-footer {
  width: 100%;
  height: 65px;
  background-color: #001C32;
  color: rgba(#F0F0FA, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
ion-button.gimme50 {
  text-transform: none;
  color: #fff;
  border: 1px solid #f0f0fA;
  border-radius: 28px;
  width: 159px;
  height: 45px;
  font-size: 1.0rem;
  font-family: manrope-bold;
  background-color: #001C32;
}
ion-button.gimme50:hover {
  background: #f0f0fa;
  color: #001C32;
}

.minima-numeric {
  font-variant-numeric: tabular-nums;
  float: left;
  font-family: manrope-regular;
}
.minima-token {
  font-family: manrope-regular;
}
// Remove scroll-bar
ion-content {
  // overwrite inline styles
  --background: var(--ion-color-background);
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

// Grid paddings of all pages
ion-header.page-header ion-toolbar {
  --padding-top: 27px;
  --padding-start: 27px;
  --padding-end: 27px;
}
ion-header.page-header ion-toolbar ion-title {
  padding: 0;
}
ion-content.page-content {
  --padding-start: 27px;
  --padding-end: 27px;
  --padding-top: 10px;
}


/* My Custom Toasts */
.toast2 {
  --color: #FAFAF0 !important;
  --button-color: #001C32!important;
  // --background: var(--ion-color-gray-four);
  --height: 60px;
  --box-shadow: 1px rgba(#66ff66, 0.5);
  --border-radius: 15px;
}