
<ion-list lines="none">
  <ion-list-header> Font size 
  </ion-list-header>
  <ion-item>
    <ion-label></ion-label>
    <ion-button (click)="onActivate()">+</ion-button>
    <ion-button (click)="onActivateLess()">-</ion-button>
  
  </ion-item>
</ion-list>
<!-- <ion-list>
  <ion-list-header> Font Color
    <ion-item>
      <ion-button shape="round"></ion-button>
      <ion-button shape="round"></ion-button>
      <ion-button shape="round"></ion-button>
      <ion-button shape="round"></ion-button>
    </ion-item>  
  </ion-list-header>
</ion-list>
<ion-list>
  <ion-list-header> Background Color
    <ion-item>
      <ion-button shape="round">small</ion-button>
      <ion-button shape="round">medium</ion-button>
      <ion-button shape="round">large</ion-button>
      <ion-button shape="round">xlarge</ion-button>
    </ion-item>  
  </ion-list-header>
</ion-list> -->
