ion-header ion-toolbar ion-title {
  font-family: manrope-bold;
  font-size: 1.0rem;
}
#deleteButton {
  padding-right: 4%;
  font-size: 1.2rem;
  cursor: pointer;
}
#addButton {
  padding-right: 5%;
  font-size: 1.2rem;
  cursor: pointer;
}
ion-item.contactItem {
  --border-color: var(--ion-color-line);
}
ion-item.contactItem:hover {
  transform: scale(1.001);
  --border-color: var(--ion-color-primary);
}

ion-searchbar {
  --box-shadow: 0;
  --icon-color: var(--ion-color-primary);
}
ion-item-option div.block {
  width: 100%;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 0.85rem;
}
ion-item-option div.block ion-icon {
  font-size: 1.2rem;
}
ion-icon.trashIcon {
  cursor: pointer;
}
ion-icon.trashIcon:hover {
  color: var(--ion-color-secondary);
}