<ion-header class="border-b">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contacts</ion-title>
    <ion-icon (click)="presentAddContactForm()" id="addButton" slot="end" name="add"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngFor="let contact of contacts">
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{contact.AVATAR}}">
      </ion-avatar>
      <ion-label> 
        <h3>{{ contact.NAME }}</h3>
        <p>{{ contact.ADDRESS }}</p>
      </ion-label>
      <ion-button *ngIf="editMode" slot="end">Delete</ion-button>
    </ion-item>
  </ion-list>

</ion-content>
