<ion-header class="border-b">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contacts</ion-title>
    <ion-icon (click)="presentAddContactForm()" id="addButton" slot="end" name="add"></ion-icon>
    <ion-icon id="deleteButton" slot="end" name="trash-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar (ionChange)="queryContacts($event.target.value)" placeholder="search for your contact..."></ion-searchbar>
  </ion-toolbar>

  <ion-grid *ngIf="contacts.length == 0">
    <ion-row>
      <ion-col style="display: flex; align-items:center; justify-content:center" size="12">
        <ion-label>No contact(s) to display...</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list class="ion-no-padding" *ngFor="let contact of contacts">
    <ion-item class="contactItem" lines="half">
      <ion-avatar slot="start">
        <img src="{{contact.AVATAR}}">
      </ion-avatar>
      <ion-label> 
        <h3>{{ contact.NAME }}</h3>
        <p>{{ contact.ADDRESS }}</p>
      </ion-label>
      <ion-button *ngIf="editMode" slot="end">Delete</ion-button>
    </ion-item>
  </ion-list>

</ion-content>
