#deleteButton {
  font-size: 1.8rem;
  cursor: pointer;
}
#addButton { 
  font-size: 2.0rem;
  color: var(--ion-color-tertiary);
  cursor: pointer;
}
ion-list.tools {
  padding:0;
  padding-top: 12px;
}
ion-list.tools ion-item {
  --padding-start: 27px;
  --inner-padding-end: 25px;
}
ion-item.contactItem {
  padding: 0;
  --padding-start: 27px;
  --inner-padding-end: 27px;
}
ion-item.contactItem:hover {
  --background: var(--ion-color-item-hover);
}

ion-searchbar {
  padding: 0;
  --box-shadow: 0;
  --icon-color: #001C32;
  --background: var(--ion-color-inputs);
  --border: 1px solid #f0f0fa;
  color: #001C32;
  font-size: 0.75rem;
}

ion-item-option div.block {
  width: 100%;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  min-width: 56px;
}
ion-item-option div.block ion-icon {
  font-size: 1.5rem;
}
ion-item-option.trashIcon {
  background-color: var(--ion-color-danger);
  cursor: pointer;
  z-index: 10000;
  ion-icon {
    color: #f0f0fa;
  }
}
ion-icon.export {
  cursor: pointer;
  color: var(--ion-color-tertiary);
}
ion-icon.trashIcon:hover {
  color: var(--ion-color-secondary);
}
.center {
  right: 2%;
  align-items: center !important;
  justify-content: center !important;
  display: inline-flex !important;
  text-align: center !important;
}
ion-label {
  color: var(--ion-color-tertiary);
  h3 {
    font-family: manrope-bold;
    color: var(--ion-color-tertiary);
  }
  p {
    color: var(--ion-color-tertiary);
    opacity: 0.7;
  }
}
