#deleteButton {
  font-size: 1.8rem;
  cursor: pointer;
}
#addButton { 
  font-size: 2.0rem;
  cursor: pointer;
}
ion-item.contactItem {
  --border-color: var(--ion-color-item-border);
}
ion-item.contactItem:hover {
  --background: var(--ion-color-item-hover);
}
ion-list.tools {
  margin-left: 2px;
  margin-right: 9px;
}
ion-list ion-item.contactItem ion-avatar {
  margin-left:  9px;
}

ion-searchbar {
  --box-shadow: 0;
  --icon-color: #001C32;
  --background: #fff;
  --border: 1px solid #f0f0fa;
  color: #001C32;
  font-size: 12px;
}

ion-item-option div.block {
  width: 100%;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 0.85rem;
}
ion-item-option div.block ion-icon {
  font-size: 1.2rem;
}
ion-icon.trashIcon {
  cursor: pointer;
}
ion-icon.trashIcon:hover {
  color: var(--ion-color-secondary);
}
.center {
  right: 2%;
  align-items: center !important;
  justify-content: center !important;
  display: inline-flex !important;
  text-align: center !important;
}
ion-label h3 {
  font-family: manrope-bold;
}
ion-label p {
  color: var(--ion-color-color);
  opacity: 0.7;
}