<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title color="primary">
      Settings
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)= "presentQuitAlert()">
          <ion-icon name="power" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="white">
  <ion-card-header color="white">

  <ion-card-title color="tertiary">
    <ion-item>
      <ion-icon name="build" slot="start" size="2" style="color: #FF671D;"></ion-icon>
      <ion-card-title color="tertiary"><ion-text color="tertiary">Settings</ion-text></ion-card-title>
    </ion-item>
    
  </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <form>


      <ion-item>
        <ion-label style="font-style: normal;" position="floating" color="primary">Host</ion-label>
        <ion-input name="host" [(ngModel)]="host"></ion-input>
      </ion-item>
    </form>
   
    <ion-item>
      <ion-icon name="moon" style="padding: 10px;" color="primary"></ion-icon>
      <ion-label style="font-style:normal;" color="tertiary">Night Mode</ion-label>
      <ion-toggle #darkToggle color="primary" (ionChange)= "enableDarkTheme(shouldEnable)" ></ion-toggle>
    </ion-item>
    

  </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button color="danger" expand="block" (click)="saveHost()" >
     Save
    </ion-button>   
  </ion-toolbar>
</ion-footer>