<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title color="primary">
      Settings
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)= "quitMinima('You are about to shutdown Minima. 
      Once reconnected your node will have to catch up with the latest block.  Are you sure?', 'Reminder..')">
          <ion-icon name="power" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
  <ion-card-header>

  <ion-card-title>Settings</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <form>


      <ion-item>
        <ion-label position="floating">Host</ion-label>
        <ion-input name="host" [(ngModel)]="host"></ion-input>
      </ion-item>


      <br>
      <br>
      <ion-button  expand="block" type="button"  (click)="giveMe50()">
        <ion-icon name="cash" slot="start"></ion-icon>giveMe50
      </ion-button>


    </form>

  </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button color="danger" expand="block" (click)="saveHost()" >
     Save
    </ion-button>   
  </ion-toolbar>
</ion-footer>