@media screen and (min-width: 900px) {
    
    ion-card {
        width: 50%;
        margin-left:25%;
    }
}

ion-card {
    border-radius: 30px;
    background-color: #FFFFFF;

}
ion-footer ion-toolbar ion-buttons ion-button{
    width: 100%;
 }

 .action-btn {
    height: 40px;
  }
  .action-btn:hover {
    height: 50px;
  }