@media screen and (min-width: 900px) {
    .skeleton-address {
        height: auto;
        width: auto;
        --background: var(--ion-background-color, #f2f2f2);
    }
}
ion-item {
  --inner-padding-end: 0;
}
ion-content {
  --overflow: hidden;
}

ion-card-content {
    background: var(--ion-card-color);
}
ion-card-header {
    --color: var(--ion-text-color,#000);
}

.ios .skeleton-address {
    height: 280px;
    width: 100%;
}
.qrCanvas{
    width: 50px;
    height: auto;
}
.addr-title {
    padding: 10px;
}

ion-button.copy-btn {
  text-transform: none;
  font-family: manrope-bold;
  color: #fff;
  background-color: var(--ion-color-primary);
  height: 35px;
  width: 164px;
  margin-left: 0;
  margin-right: 7px;
}
ion-button.copy-btn:hover {
  --background: #346EE5;
}
ion-button.gen-btn {
  height: 35px;
  width: 164px;
  text-transform: none;
  font-family: manrope-bold;
  color: var(--ion-color-color);
  border: 1px solid var(--ion-color-color);
  box-shadow: none;
  margin-left: 0;
}
ion-button.gen-btn:hover {
  --background: var(--ion-color-color);
  color: var(--ion-color-item-hover);
  --border-radius: 0;
  border-color: var(--ion-color-color);
}
ion-badge:hover {
    transform: scale(1.01);
}
ion-badge {
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    --background: #FF512F;
}
ion-grid ion-row {
    display: flex;
    align-items: left;
    justify-content: left;
}
ion-grid ion-row:first-child {
  margin-top: 5px;
}
p.qrcode-box {
  background-color: var(--ion-color-inputs);
  color: #000;
  margin-bottom:0;
  padding-bottom:0;
  margin-top: 7px;
  padding: 1%;
  font-size: 15px;
}
.toast {
    --width: 50%;
}
.notes {
  color: var(--ion-color-secondary);
  margin: 7px;
  margin-left: 0;
  font-size:14px;
}
.center {
  right: 2%;
  align-items: center !important;
  justify-content: center !important;
  display: inline-flex !important;
  text-align: center !important;
}


div.qr-box {
  width: 226px;
  height: 226px;
  padding: 10%;
  background-color: var(--ion-color-inputs);
  display:flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid #001C32;
}
div.qr-box:hover {
  outline-color: var(--ion-color-primary);
}

@media only screen and (max-width: 600px) {
    ion-button.copy-btn {
      width: 175px;
    }
    ion-button.gen-btn {
      width: 175px;
    }
    .notes {
      color: var(--ion-color-secondary);
      margin: 7px;
      margin-left: 0;
      font-size:12px;
    }
  
}
@media only screen and (max-width: 411px) {
  ion-button.copy-btn {
    width: 175px;
  }
  ion-button.gen-btn {
    width: 175px;
  }
  
}
@media only screen and (max-width: 401px) {
  ion-button.copy-btn {
    width: 165px;
  }
  ion-button.gen-btn {
    width: 165px;
  }
}

