<ion-app>
<ion-header >
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">
      Receive
    </ion-title>
  </ion-toolbar>
</ion-header >

<ion-content fullscreen>
  <ion-card class="welcome-card" color="white" *ngIf="this.qrCode.length > 0">
    <ion-card-header translucent="true" color="white">
        <ion-toolbar>
                <qrcode
                      [qrdata]="qrCode"
                      [size]="canvasSize"
                      [level]="'Q'"
                      colorlight="#e9ecef"
                      colorDark="#000000"
                      *ngIf="qrCode!==''">
                </qrcode> 
        </ion-toolbar>

        <ion-card-subtitle style="text-align: center;">
          <a style="text-decoration: none; color:##3F88BF;">{{ qrCode }}</a>
          <hr>
          This address can be used for any Minima or Token transaction.
        </ion-card-subtitle>
    </ion-card-header>
      <ion-card-content fullscreen> 
                
                  
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card" color="white" *ngIf="this.qrCode===''">
    <ion-card-header translucent="true" color="white">
        <ion-toolbar>
          <ion-skeleton-text animated class="skeleton-address"></ion-skeleton-text>
        </ion-toolbar>

        <ion-card-subtitle style="text-align: center;">
          <a style="text-decoration: none; color:##3F88BF;">{{ qrCode }}</a>
          <hr>
          This address can be used for any Minima or Token transaction.
        </ion-card-subtitle>
    </ion-card-header>
      <ion-card-content fullscreen> 
                
                  
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button     
          class="action-btn"
          shape="round"
          expand="full"
          (click)="copyToClipboard()"
          [disabled]="!isEmpty">
      <ion-icon
            name="copy" 
            slot="start">
      </ion-icon> Copy to clipboard
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
</ion-app>