@media screen and (min-width: 900px) {
    .skeleton-address {
        height: auto;
        width: auto;
        --background: var(--ion-background-color, #f2f2f2);
    }
}
ion-content {
    --overflow: hidden;
}

ion-card-content {
    background: var(--ion-card-color);
}
ion-card-header {
    background: var(--ion-card-header);
}
ion-footer ion-toolbar ion-buttons ion-button {
    width: 100%;
 }

.action-btn {
    height: 72px;
}
.action-btn:hover {
    height: 72px;

    ion-icon {
        font-size: large;
      }
}

.ios .skeleton-address {
    height: 280px;
    width: 100%;
}
.qrCanvas{
    width: 50px;
    height: auto;
}
.addr-title {
    padding: 10px;
}

// ion-grid, ion-row, ion-col 
// ion-grid {
//     --ion-grid-padding: 0;
//     --ion-grid-column-padding: 0;
//     --ion-grid-width-xl: 360px;
//     --ion-grid-width-lg: 360px;
//     --ion-grid-width-md: 450px;
// }

ion-col {
    margin-top: 15px;
}

ion-toolbar {
    --background: var(--ion-m-background);
}

.copy-btn {
    text-decoration: underline;
}

.address {
    font-weight: 700;
}
ion-badge:hover {
    transform: scale(1.1);
}
ion-badge {
    word-break: break-all;
    white-space: normal;
    cursor: pointer;
}
ion-row {
    display: flexbox;
    justify-content: center !important;
    align-content: center !important;
}
