<ion-app>
<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">
      Receive
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card color="white" *ngIf="this.qrCode.length > 0 && !checkPlatform()">
    <ion-card-content>
      <div class="qrCanvas">
        <qrcode
              [qrdata]="qrCode"
              [size]="canvasSize"
              [level]="'Q'"
              colorlight="#f2f2f2"
              colorDark="#f2f2f2"
              *ngIf="qrCode!==''">
        </qrcode> 
      </div>
        
    <ion-card-subtitle style="text-align: center; font-family:'Aeonik-light'">
        
        <a style="text-decoration: none; color:##3F88BF; font-weight: bold; font-size:18px;">{{ qrCode }}</a>
      <hr>
      This address can be used for any Minima or Token transaction.
    </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card" color="white" *ngIf="this.qrCode.length > 0 && checkPlatform()">
    <ion-card-content>
    <ion-grid>
    <ion-row>
      <ion-col size="3">
        <div class="qrCanvas">
          <qrcode

                [qrdata]="qrCode"
                [size]="canvasSize"
                [level]="'Q'"
                colorlight="#f2f2f2"
                colorDark="#f2f2f2"
                *ngIf="qrCode!==''">
          </qrcode> 
        </div>
      </ion-col>
      <ion-col size="8" style="margin-top: 35px;">
        <h3>
          Current Minima Address
        </h3>
        <a style="text-decoration: none; color:##3F88BF; font-weight: bold; font-size:18px;">{{ qrCode }}</a>
      </ion-col>
    </ion-row>
    </ion-grid>
        
    <ion-card-subtitle style="text-align: center; font-family:'Aeonik-light'">
      This address can be used for any Minima or Token transaction.
    </ion-card-subtitle>
        
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card" color="white" *ngIf="this.qrCode==='' && !checkPlatform()">
    <ion-card-header translucent="true" color="white">
        <ion-toolbar>
          <ion-skeleton-text animated class="skeleton-address"></ion-skeleton-text>
        </ion-toolbar>

        <ion-card-subtitle style="text-align: center;">
          <a style="text-decoration: none; color:##3F88BF;">{{ qrCode }}</a>
          <hr>
          This address can be used for any Minima or Token transaction.
        </ion-card-subtitle>
    </ion-card-header>
      <ion-card-content fullscreen> 
                
                  
    </ion-card-content>
  </ion-card>


  <ion-card class="welcome-card" color="white" *ngIf="this.qrCode==='' && checkPlatform()">
    <ion-card-content>
    <ion-grid>
    <ion-row>
      <ion-col size="3">
        <div class="qrCanvas">
          <ion-skeleton-text animated class="skeleton-address"></ion-skeleton-text>
        </div>
      </ion-col>
      <ion-col size="8" style="margin-top: 35px;">
        <h3>
          Current Minima Address
        </h3>
        <ion-skeleton-text animated class="skeleton-address"></ion-skeleton-text>
      </ion-col>
    </ion-row>
    </ion-grid>
        
    <ion-card-subtitle style="text-align: center; font-family:'Aeonik-light'">
      This address can be used for any Minima or Token transaction.
    </ion-card-subtitle>
        
    </ion-card-content>
  </ion-card>
</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button     
          class="action-btn"
          expand="full"
          (click)="copyToClipboard()"
          [disabled]="!isEmpty">
      <ion-icon
            name="copy" 
            slot="start">
      </ion-icon> Copy to clipboard
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
</ion-app>