<ion-app>
<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button class="menu-icon"></ion-menu-button>
    </ion-buttons>
    <ion-title class="large-text">
      Receive
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="white" *ngIf="this.qrCode.length > 0">
    <ion-card-content>
    <ion-grid fixed>
      <ion-row>
        <ion-col class="addr-title" size="12">
          <h2 class="medium-text" style="text-align: center;">Your Mini Address</h2>
          <p class="small-text" style="text-align: center; 
                    color:#3F88BF; font-weight: bold; 
                    font-size:12px; 
                    font-family:'monospace'"> 
          {{ qrCode }}
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="qr-container"size="12">
        <qrcode
              [qrdata]="qrCode"
              [level]="'Q'"
              *ngIf="qrCode!==''">
        </qrcode> 
        </ion-col>
      </ion-row>
    </ion-grid>  
    <ion-card-subtitle style="text-align: center; font-family:'Aeonik-light'">
      This address can be used for any Minima or Token transaction.
    </ion-card-subtitle>
    </ion-card-content>
  </ion-card>



  <ion-card class="welcome-card" color="white" *ngIf="this.qrCode===''">
    <ion-card-header translucent="true" color="white">
        <ion-toolbar>
          <ion-skeleton-text animated class="skeleton-address"></ion-skeleton-text>
        </ion-toolbar>

        <ion-card-subtitle style="text-align: center;">
          <a style="text-decoration: none; color:##3F88BF;">{{ qrCode }}</a>
          <hr>
          This address can be used for any Minima or Token transaction.
        </ion-card-subtitle>
    </ion-card-header>
      <ion-card-content fullscreen> 
                
                  
    </ion-card-content>
  </ion-card>

</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button     
          class="action-btn medium-text"
          expand="full"
          (click)="copyToClipboard()"
          [disabled]="!isEmpty">
      <ion-icon
            name="copy" 
            slot="start">
      </ion-icon> Copy to clipboard
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
</ion-app>