// @media only screen and (min-width: 992px) {
//     ion-list {
//         background-image: url('../../assets/minimatile.png');
        
//     }
// }

p {
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
    hyphens: auto;
}

/** no scrolling on pop-over */
ion-app.disable-scroll {
    ion-content>.scroll-content {
        overflow: hidden;
    }
}


