<ion-app>

    <ion-grid>
        <ion-row>
            <ion-col size="12" style="text-align: center;">
                <p [hidden]="refTokenid == '0x00'" class="small-text" id="copythis">{{refTokenid.substring(0, 20)+"..."}}</p>
                <p [hidden]="refTokenid !== '0x00'" class="small-text" id="copythis">{{ refTokenid }}</p>    
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-button 
                (click)="copyToClipboard()" 
                class="popover-btn small-text" 
                fill="clear" 
                size="small" 
                expand="full" 
                style="width: 100%;" >
                
                <ion-icon name="copy"></ion-icon> 
                
                </ion-button>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-app>

