<ion-app>
<ion-list lines="none">
    <ion-list-header>
        Token ID: 
          
        <ion-item class="token-lbl" id="copythis">{{refTokenid.substring(0, 10)}}</ion-item>        
            
    </ion-list-header>
    <ion-item style="width: 100%;">
    <ion-button (click)="copyToClipboard()" class="popover-btn" fill="clear" size="small" expand="full" style="width: 100%;" >
        <ion-icon name="copy"></ion-icon> 
            Copy
        </ion-button>
    </ion-item>
</ion-list>
</ion-app>

