

#status-content {
    width: 100%;
    padding: 5px;
    border-radius: 20%;
    font-size: 0.5em;
}

#status-content ion-icon {
    padding-left: 1em;
    color: #FF671D;
}

#status-content ion-list ion-grid ion-col ion-item {
    font-size: 1.5em;
}

.ion-text-wrap {
    word-wrap: normal;
}



ion-list ion-item h2 {
    color: #06AAC7;
}

ion-list ion-item p {
    white-space: normal;
}

 ion-list ion-icon {
    padding-right: 4px;
}


ion-icon {
    color: #06AAC7;
}

ion-chip {
    background-color: transparent;
}

ion-footer ion-list ion-item {
    border-top: 2px solid #ffffcc;
    border-bottom: 2px solid#ffffcc;
    border-radius: 5px;
}

.status-logo {
    font-size: 35px;
}
ion-note ion-badge {
    border-radius: 10px;
    font-size: 10px;
    margin-bottom: 10px;
    background-color: none;
}
ion-note {
    font-family: 'Aeonik';
    font-weight: bolder;
    font-size: 22px;
    padding-top: 23px;
    color: #929396;
}

@media only screen and (min-width: 992px) {
    .status-logo-title {
        font-family: 'Aeonik';
        font-weight: bolder;
        font-size: 28px;
        padding-top: 18px;
        position: absolute;
    }
    
    ion-note {
        position: absolute;
        padding-right: 50px;
        font-weight: bolder;
        font-size: 12px;
        font-family: 'Aeonik';
        color: #929396;
    }
}