

#status-content {
    width: 100%;
    padding: 5px;
    border-radius: 20%;
    font-size: 0.5em;
}

#status-content ion-icon {
    padding-left: 1em;
    color: #FF671D;
}

#status-content ion-list ion-grid ion-col ion-item {
    font-size: 1.5em;
}

.ion-text-wrap {
    word-wrap: normal;
}

ion-card {
    border-radius: 30px;
    background-color: #FFFFFF;
    border-top: 3px solid #06AAC7;
    border-bottom: 3px solid #06AAC7;
}

ion-grid {
    border: 1px solid #FF671D;
    border-radius: 5px;
}

ion-label {
    font-style: oblique;
}

ion-col {
    border-bottom: 1px solid #06AAC7;
    border-left: 1px solid #06AAC7;
}

ion-icon {
    color: #06AAC7;
}

ion-chip {
    background-color: transparent;
}