<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">
      Status
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
</ion-refresher>


  <ion-card class="welcome-card" style="background-color:transparent" color="white">
    <ion-card-header id="status-header" color="white">
      <ion-card-title>
        <ion-item>
          <ion-icon slot="start" src="../../assets/icon/minima.svg" size="2"></ion-icon>
          <ion-card-title class="ion-text-centre" color="tertiary"><ion-text color="tertiary">Minima  v{{ versionNumber }}</ion-text></ion-card-title>
        </ion-item>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content id="status-content">
        <ion-list>
          <ion-item>
            <ion-icon name="checkmark-circle" slot="start"></ion-icon>
            <ion-label>
            <h2>Status</h2>
            <p color="getColor()">{{ status }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="checkmark-circle" slot="start"></ion-icon>
            <ion-label>
            <h2>Node uptime</h2>
            <p>{{ stringUptime }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="checkmark-circle" slot="start"></ion-icon>
            <ion-label>
            <h2>Configuration path</h2>
            <p>{{ conf }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="checkmark-circle" slot="start"></ion-icon>
            <ion-label>
            <h2>Hosting IP</h2>
            <p>{{ miniHost }}{{ miniPort}}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="checkmark-circle" slot="start"></ion-icon>
            <ion-label>
            <h2>RPC Port</h2>
            <p>{{ miniRpcport }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="checkmark-circle" slot="start"></ion-icon>
            <ion-label>
            <h2>Pulse</h2>
            <p>{{ pulse }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="checkmark-circle" slot="start"></ion-icon>
            <ion-label>
            <h2>Last block number</h2>
            <p>{{ block }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
  
        
  
      </ion-card-content>
        
    </ion-card>
  
    <ion-footer>
      <ion-label>
        <ion-icon name="notification"></ion-icon>
        <h2></h2>
        <p>Call "status" in terminal</p>
      </ion-label>
    </ion-footer>


</ion-content>
