ion-footer ion-toolbar ion-item {
    --background: var(--ion-background-color, #f2f2f2);

}
ion-footer ion-toolbar {
    --background: var(--ion-background-color, #f2f2f2);

}
.pop-lbl {
    font-weight: lighter; 
    font-family: 'Aeonik-light';
    font-size: 12px;
}
ion-icon {
    color: #3D9970;
}

.pop-info-lbl {
    font-size: 12px;
    
}
.pop-amount-h2 {
    text-align: center;
    
}
.pop-title-activity {
    text-align: center;
    font-size: medium;
}
.box {
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    font-size: 16px;
}
.box-icon {
    font-size: 30px;
    padding-right: 15px;
}
//desktop

@media only screen and (min-width: 992px) {
    .date-lbl {
        font-size: 14px;
    }
}


//iOS Box

.ios .box {
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    font-size: 16px;
}
.ios .box-icon {
    font-size: 20px;
    padding-right: 3px;
}