<ion-list>
  
  <div>
  <h2 class="pop-title-activity">Created a Token.
  </h2>
  <h2 class="pop-amount-h2">
    {{ transAmount }} Minima
  </h2>
  </div>
  <ion-item>
    <ion-label class="pop-lbl">
      To
    </ion-label>
    <ion-label class="pop-info-lbl" text-right (click)="copyToClipboard(receivingAddress)">
      {{ receivingAddress }}
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="pop-lbl">
      TxPow Block
    </ion-label>
    <ion-label class="pop-info-lbl" text-right>
      {{ blockNumber }}
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="pop-lbl">
      TxPow Id
    </ion-label>
    <ion-label class="pop-info-lbl" text-right>
      {{ txpowid }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="pop-lbl">
      Parent
    </ion-label>
    <ion-label class="pop-info-lbl" text-right>
      {{ parent }}
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label class="pop-lbl">
      isBlock
    </ion-label>
    <ion-label class="pop-info-lbl" text-right>
      {{ isBlock }}
    </ion-label>
  </ion-item>



</ion-list>
<ion-footer>
<ion-toolbar>
    <ion-item lines="none" class="box">
    
    <ion-icon name="time" class="box-icon"></ion-icon>
    {{  'Completed at ' + date }}

  </ion-item>
</ion-toolbar>

</ion-footer>

