/** OVERLAY MENU */
.my-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--ion-background-color, #f2f2f2);
  opacity: 100%;
  z-index: 20;
  top: 0;
  left: auto;
  right: auto;
  padding: 10%;
}
.ripple-parent {
  position: relative; 
  overflow: hidden;
  --ripple-color: #f2f2f2;
}
.my-overlay ion-card ion-card-header ion-item {
  padding-bottom: 5%;
}
.my-overlay img {
  padding-bottom: 5%;
}
.my-overlay p {
  padding-bottom: 5%;
}
.my-overlay-btn {
  position: relative;
  top: 25%;
}
.my-overlay ion-card {
  opacity: 100%;
  --background: var(--ion-background-color, #f2f2f2);
  padding: 25px;
  top: 20%;
  padding: 20px;
  text-align: center;
}
.hide-chckbox {
  font-size: 12px;
}
/** */
.footer-content {
  padding-top: 10px;
}
ion-menu {
  --background: var(--ion-background-color, #f2f2f2);
}
ion-menu ion-header {
  --background: var(--ion-background-color, #f2f2f2);
}
ion-menu ion-header ion-toolbar {
  --background: var(--ion-background-color, #f2f2f2);
}
ion-menu ion-content {
    --padding-top: 12px;
    --padding-bottom: 20px;
    --background: var(--ion-item-background, var(--ion-background-color, #fff));
  }

ion-icon {
    color: #FF671D;
}
ion-menu ion-item.selected{
  --background: var(--ion-background-color, #f2f2f2);
  --background: linear-gradient(to right,  var(--ion-background-color, #fff) 0%, var(--ion-background-color, #f2f2f2) 100%) !important;
}

ion-menu ion-item {
    --transition: none;
  }
.social-web {
    margin: auto;
}
.social-lbl {
    color:white;
}

.menu-logo {
    height: auto;
    width: 190px;
    margin: auto;
    margin-bottom: 10px;
    position: relative;
    padding: 10px 70px 0px 0;
}

/** Desktop Version */
@media only screen and (min-width: 992px) {

    .splitpane {
        margin-left: 180px;
        margin-right: 180px;
        margin-top: 100px;
        margin-bottom: 100px;
        // box-shadow: 2px 2px 5px grey;
    }
    ion-app {
        background-image: url('../assets/miniTiles.png');
    }
    ion-menu-toggle {
      height: 72px;
    }
    .menu-logo {
        height: auto;
        width: 150px;
        margin: auto;
        position: relative;
        padding: 10px 20px 15px 0px;
    }
    .my-overlay ion-card {
      top: 0%;
      width: 650px;
      height: auto;
      margin-left: 28%;
    }
    .my-overlay img {
      padding-bottom: 5%;
      width: 250px;
    }
    .my-overlay h2 {
      font-size: 1.5rem;
      padding-bottom: 0px;
    }
    .my-overlay p {
      font-size: 1.5rem;
      padding-bottom: 0%;
    }
    .my-overlay ion-card-header {
      display:inline-block;
      height:auto;
      width:30%;
      padding-bottom: 6%;
      margin: 0 auto;
    }
}
/*
 * Material Design Menu
*/
ion-menu.md ion-list {
    padding: 0px 0;
  }
  
  ion-menu.md ion-item {
    --padding-start: 18px;
  
    margin-right: 10px;
  
    border-radius: 0 50px 50px 0;
  
    font-weight: 500;
  }
ion-menu.md ion-item.selected {
  --background: var(--ion-background-color, #f2f2f2);
  background: linear-gradient(to left,  var(--ion-background-color, #fff) 0%, var(--ion-background-color, #f2f2f2) 100%) !important;
}
ion-menu.md ion-list {
    padding-bottom: 0px !important;
}

/*
 * iOS Design Menu
*/
  ion-menu.ios ion-list {
    padding: 0px 0 0;
    margin-bottom: 10px;
  }
  ion-menu.ios ion-item {
    --padding-start: 16px;
    --min-height: 50px;
  }
  .ios .menu-logo-title {
    font-family: 'Ridley-normal';
    font-weight: normal;
    font-size: 12px;
    padding-bottom: 2px;
        
  }
  .ios ion-note ion-badge {
    margin: auto;
    color: #FF671E;
    font-size: 8px;
  }
  .ios .footer-content {
    padding: 18px;
  }
    
  ion-menu.ios ion-item.selected {
    --background: linear-gradient(to left,  var(--ion-background-color, #fff) 0%, var(--ion-background-color, #f2f2f2) 100%) !important;

  }
  ion-menu.ios ion-list {
    padding-bottom: 0px !important;
  }
//



#footer-item {
  --padding-bottom: 0px;
  --padding-start: 15px;
}

