<ion-app>
  <ion-split-pane when="lg" contentId="mainMenu" class="splitpane" >
  <ion-menu side="start" contentId="mainMenu" class="myMenu">

    <ion-header class="page-header ion-no-border" >      
      <ion-toolbar>
        <ion-title>
          <ion-item lines="none" class="ion-no-padding">
            <img *ngIf="toggleValue" src="assets/minima-logo-landscape-dark.svg">
            <img *ngIf="!toggleValue" src="assets/minima-logo-color.svg">
          </ion-item>
        </ion-title>     
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      <ion-list class="ion-no-padding" main>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of menu; let i = index">
            <ion-item 
            class="ion-activatable my-menu-item ion-no-padding"
            detail="false"
            routerLinkActive="selected"
            routerDirection="root"
            [hidden] = "p.hidden" 
            [routerLink]="p.routerLink"
            lines="{{ p.line }}">

            
            <ion-icon src="{{p.icon}}"></ion-icon>
            
            <ion-label>
              {{ p.title }}
            </ion-label>
            </ion-item>
        </ion-menu-toggle>
      </ion-list>
  </ion-content>
  <span class="wallet-version">
    {{ environment.wallet_version }}
  </span>

  <ion-footer class="border-t">
    <ion-toolbar>
      <ion-item id="night-mode" lines="none">
        <ion-avatar>
          <ion-icon size="small" style="color: #FAFAFF;" name="moon"></ion-icon>
        </ion-avatar>
        <ion-label>Night Mode</ion-label>
        <ion-toggle slot="end" #darkToggle [(ngModel)]="toggleValue" (ionChange)="checkToggle()"></ion-toggle>
      </ion-item>
    </ion-toolbar>
  </ion-footer>
  </ion-menu>
  <ion-router-outlet main id="mainMenu"></ion-router-outlet>
  </ion-split-pane>

</ion-app>
