ion-icon {
    color: #FF671D;
}
ion-item:hover {
    background-color: rgb(10,209,231);
}
ion-icon:hover {
    color: #ffffff;
}

ion-item:active {
    background-color: rgb(10,209,231);
}

.social-web {
    margin: auto;
}
.social-lbl {
    color:white;
}

.menu-logo {
    font-size: 22px;
    
}
.menu-badge {
    color: #FF671D;
    font-size: 8px;
    background-color: white;

}
.menu-minima {
    font-family: 'Ridley-normal';
    font-weight: normal;
    font-size: 12px;
    margin: auto;
}

@media only screen and (min-width: 992px) {
    .splitpane {
        margin-left: 180px;
        margin-right: 180px;
        margin-top: 100px;
        margin-bottom: 100px;
        box-shadow: 2px 2px 5px grey;
    }
    ion-app {
        background-image: url('../assets/miniTiles.png');
    }
    .menu-logo {
        font-size: 35px;
    }
    
    ion-note {
        padding-right: 50px;
        font-weight: bolder;
        font-size: 12px;
        font-family: 'Aeonik';
        color: #929396;
    }
    .menu-badge {
        color: #FF671D;
        background-color: white;
    }
    .menu-minima {
        font-family: 'Ridley-normal';
        font-weight: normal;
        font-size: 22px;
        margin: auto;
    }
}

// iOS layout
    .ios .menu-logo-title {
        font-family: 'Ridley-normal';
        font-weight: normal;
        font-size: 12px;
        padding-bottom: 2px;
        
    }
    .ios ion-note ion-badge {
        margin: auto;
        color: #FF671E;
        font-size: 8px;
    }
    
