  ion-menu {
    --background: var(--ion-m-background);
  }
  ion-menu ion-header {
    --background: var(--ion-m-background);
    border-bottom: none;
  }
  ion-menu ion-header ion-toolbar {
    --background: var(--ion-m-background);
  }
  ion-menu ion-content {
      --background: var(--ion-m-background);
  }
  ion-item ion-label {
    font-family: manrope-bold;
    padding-left: 1%;
    color: var(--ion-color-tertiary);
    font-size: 1.0rem;
  }
  ion-icon {
      color: var(--ion-color-tertiary);
  }
  .myMenu {
    --width: 250px;
  }
/** Desktop Version */
@media only screen and (min-width: 992px) {
  .splitpane {
    border: 1px solid #1D3147;
    left: 12%;
    right: 12%;
    top: 6%;
    bottom: 6%;
  }
  ion-menu {
    --width: 200px; 
  }
}
/*
 * Material Design Menu
*/
ion-menu.md ion-list {
    padding: 0px 0;
}
ion-menu.md ion-item {
  --padding-start: 18px;
}
ion-menu.md ion-item.selected {
  --background: var(--ion-color-selected);
  border-radius: 0px;
  ion-label {
    color: var(--ion-color-gray-two);
  }
}
ion-menu.md ion-item.nightMode:hover {
  transform: scale(1.001);

}
ion-menu.md ion-item:hover {
  transform: scale(1.02);
  color: var(--ion-color-secondary)!important;
}
ion-menu.md ion-item.selected {
  color: #fff;
  ion-icon {
    color: var(--ion-color-primary);
  }
}
.my-menu-item {
  display:inline;
  vertical-align: middle;
  margin: 0 auto;
  padding:0;
  font-size: 1.0rem;
}
.my-menu-item ion-icon {
  font-size: 1.2rem;
}

/*
  * iOS Design Menu
*/
ion-menu.ios ion-list {
  padding: 0px 0 0;
  margin-bottom: 10px;
}
ion-menu.ios ion-item {
  --padding-start: 16px;
  --min-height: 50px;
}

ion-footer ion-item, ion-footer ion-col, ion-footer {
  --background: #001C32;
  background: #001C32;
  height: 58px;
  padding-top: 1%;
}
ion-footer ion-item ion-label {
  color: #FAFAFF!important;
}
ion-footer ion-item ion-icon {
  color: #FAFAFF!important;
}
ion-toggle {
  --handle-background-checked: var(--ion-color-gray-three);
  --background-checked: var(--ion-color-tertiary);
  --handle-height: 100px;
  --handle-max-height: 20px;
  --handle-border-radius: 40px;
  --border-radius: 50px;
  height: 17px; 
  width: 44px;
}

