<ion-app>
  <app-overlay *ngIf="!nodeStatus" class="overlay"></app-overlay>

  <ion-split-pane when="lg" contentId="mainMenu" class="splitpane" >
  <ion-menu side="start" contentId="mainMenu" class="myMenu">

    <ion-header class="page-header ion-no-border" >      
      <ion-toolbar>
        <ion-title>
          <ion-item lines="none" class="ion-no-padding">
            <img *ngIf="toggleValue" src="assets/minima-logo-landscape-dark.svg">
            <img *ngIf="!toggleValue" src="assets/minima-logo-color.svg">
          </ion-item>
        </ion-title>     
      </ion-toolbar>
    </ion-header>
    
    <ion-content main>
      <ion-list class="ion-no-padding" >
        <ion-menu-toggle auto-hide="false">
            <ion-item 
            *ngFor="let p of menu; let i = index"
            class="my-menu-item ion-no-padding ion-no-margin no-ripple hover"
            detail="false"
            routerLinkActive="active"
            routerDirection="root"
            [hidden] = "p.hidden"
            [routerLink]="p.routerLink"
            lines="{{ p.line }}">

            
            <ion-icon src="{{p.icon}}"></ion-icon>
            
            <ion-label>
              {{ p.title }}
            </ion-label>
            </ion-item>
            <ion-item 
            href="mailto:minima-global@fire.fundersclub.com?subject=Insert Wallet Bug Name&body=Brief description, reproduction of bug and your phone specifications:"
            class="my-menu-item ion-no-padding ion-no-margin no-ripple hover report-bug-btn"
            detail="false"
            lines="none">
            <ion-icon src="assets/reportABugIconBlack.svg"></ion-icon>
            <ion-label>
              Report A Bug
            </ion-label>    
            </ion-item>
        </ion-menu-toggle>
      </ion-list>

    
  </ion-content>

  <div class="version">
    Wallet {{ environment.wallet_version }}
  </div>
  <!-- <ion-list class="ion-no-padding ion-no-margin tools">
    <a href="https://github.com/eliasnemr/Wallet" target="_"  class="wallet-version hover">
      <ion-chip outline="true">
          <ion-icon name="wallet-outline"></ion-icon>
          <ion-label>
          {{ environment.wallet_version }}
          </ion-label>
      </ion-chip>    
    </a>
    <a class="wallet-version hover" href="mailto:minima-global@fire.fundersclub.com?subject=Insert Wallet Bug Name&body=Brief description, reproduction of bug & your phone specifications:">
      <ion-chip outline="true">
        <ion-icon name="bug-outline"></ion-icon>
        <ion-label>
        Report
        </ion-label>
    </ion-chip>    
    </a>
  </ion-list> -->
  

  <ion-footer class="border-t ion-no-margin ion-no-padding">
    <ion-toolbar>
      <ion-item id="night-mode" lines="none">
        <ion-avatar>
          <ion-icon size="small" style="color: #FAFAFF;" name="moon"></ion-icon>
        </ion-avatar>
        <ion-label>Night Mode</ion-label>
        <ion-toggle slot="end" #darkToggle [(ngModel)]="toggleValue" (ionChange)="checkToggle($event)"></ion-toggle>
      </ion-item>
    </ion-toolbar>
  </ion-footer>
  </ion-menu>
  <ion-router-outlet main id="mainMenu"></ion-router-outlet>
  </ion-split-pane>

</ion-app>
