<ion-app>
  <ion-split-pane when="lg" contentId="mainMenu" >
  <ion-menu side="start" contentId="mainMenu">
    <ion-header>
      <ion-toolbar class="menu-toolbar">
       <ion-title>
         <ion-icon src="../../assets/icon/minima.svg" size="5"></ion-icon>
         <ion-text style="font-weight: lighter; font-family: Aeonik-Light;">
           Minima <ion-badge color="secondary">BETA</ion-badge>
           </ion-text>
       </ion-title>   
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
        <ion-menu-toggle auto-hide="false">
          <ion-list main lines="none">
            <ion-item routerLink="/balance">
              <ion-icon name="card" slot="start"></ion-icon> Balance
            </ion-item>
            <ion-item routerLink="/send-funds">
              <ion-icon name="send" slot="start"></ion-icon> Send
            </ion-item>
            <ion-item routerLink="/my-address">
              <ion-icon name="arrow-down" slot="start"></ion-icon> Receive
            </ion-item>
            <ion-item routerLink="/create-token">
              <ion-icon name="brush" slot="start"></ion-icon> Token
            </ion-item>
          <ion-item-divider>
          </ion-item-divider>
            <ion-item routerLink="/status">
              <ion-icon name="analytics" slot="start"></ion-icon> Status
            </ion-item>
            <ion-item routerLink="/mini-term">
              <ion-icon name="code" slot="start"></ion-icon> Terminal
            </ion-item>
            <ion-item-divider></ion-item-divider>
            <ion-item routerLink="/settings">
              <ion-icon name="build" slot="start"></ion-icon> Settings
            </ion-item>
        </ion-list>
        </ion-menu-toggle>
      
    </ion-content>
  </ion-menu>
        <ion-router-outlet main id="mainMenu"></ion-router-outlet>
  </ion-split-pane>

</ion-app>