@media screen and (max-width: 900px) {
    .card-header {
        
    }
}

ion-card {
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-top: 3px solid #06AAC7;
    border-bottom: 3px solid #06AAC7;
}
