<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">
      Minima address
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card  class="welcome-card">
    <ion-card-header id="address-header">
      <ion-item>
        <ion-card-title>Here's your Minima address...</ion-card-title>
      </ion-item>
    </ion-card-header>

    <ion-card-content class="qr-canvas" #canvasDimension>

      
    <qrcode
          [qrdata]="qrCode" 
          [size]="canvasSize"
          [level]="'Q'" 
          colorlight="#e9ecef" 
          colorDark="#000000"
          *ngIf="qrCode!==''">
    </qrcode>  
        
      

      <ion-button 
            expand="block" 
            (click)="copyToClipboard()"
            [disabled]="!isEmpty">

      <ion-icon 
            name="copy" 
            slot="start">
      </ion-icon>Copy to clipboard

      </ion-button>

      
      <p style="text-align: center;">
        This address can be used for any Minima or Token transaction
      </p>

    </ion-card-content>

  </ion-card>
</ion-content>