<ion-card class="borders">
  <ion-list>
    <ion-list-header>All Tokens</ion-list-header>

    <ion-item lines="half" *ngFor="let token of tokenArr" routerLink="/view-tokens/{{ token.tokenid }}" [ngStyle] = "{'border-left':  token.script && token.script === 'RETURN_TRUE' ? '3px solid var(--ion-color-secondary)' : '1px solid var(--ion-color-primary)'}">
      <ion-avatar slot="start">
        <img *ngIf="token.tokenid !== '0x00' && token.icon.length == 0" [src]="createIcon( token.tokenid )" class="custom-icon" />
        <img *ngIf="token.tokenid !== '0x00' && token.icon.length > 0" class="custom-icon" [src]="token.icon"/>
        <img *ngIf="token.tokenid == '0x00'" class="custom-icon" alt="minima" src="assets/minima-logo-box.svg">
      </ion-avatar>

      <ion-label id="token-name">{{ token.token }}</ion-label>
      
      
      <ion-label slot="end">
        <span *ngIf="token.unconfirmed != '0';" class="confirmed-amount medium-text minima-numeric">{{ token.sendable + "/" + token.unconfirmed  }}</span>
        <span *ngIf="token.unconfirmed == '0';" class="confirmed-amount medium-text minima-numeric">{{ token.sendable }} </span>
      </ion-label>
    </ion-item>
    
    
  </ion-list>
</ion-card>
