::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}
.custom-icon {
    width: 38px;
    height: 35px;
}
.minima-icon {
    width: 38px;
    height: 35px;
}
.item-avatar {
    width:100% !important;  
    height : 100% !important;  
    max-width: 75px !important;  //any size
    max-height: 75px !important; //any size 
}
span.confirmed-amount {
    font-family: manrope-regular;
    color: #9898A3;
    white-space: nowrap;
    max-width: 30vw;
    text-overflow: ellipsis;
    overflow: hidden;
}

ion-avatar {
    margin-top: 2%;
    height: 36px;
    width: 36px;

}
#token-name {
    margin: 0;
    display: inline-block;
    white-space: nowrap;
    font-size: 1.0rem!important;
    max-width: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: manrope-bold;
    color: var(--ion-color-color);
}
ion-item:first-child {
    margin-top: 1%;
}
ion-item {
    opacity: 1;
    --background: var(--ion-color-token);
    --background-activated: var(--ion-color-token)!important;
    --background-activated-opacity: 0.2 !important;
    --background-hover: var(--ion-color-item-hover);
    --background-hover-opacity: 1;
    background: var(--ion-color-token);
    border: 1px solid var(--ion-color-item-border);
    //box-shadow: 0px 3px 6px #C8C8D41A;
    border-radius: 10px;
    margin-bottom: 2%;
}
ion-item ion-label {
    margin: 0;
}
ion-item ion-label#token-name {
    max-width: 220px;
    text-overflow: ellipsis;
    font-family: manrope-medium;
}
ion-list {
    overflow: scroll;
}
div.token-wrapper {
    display: flex;
    flex-direction: column;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}