<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="/history"></ion-back-button>
    </ion-buttons> -->
    <ion-title>
      <ion-item class="ion-no-padding">
        History
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-item class="breadcrumb ion-no-padding" lines="none">
  Transaction Details
</ion-item>

<ion-content>
  <ion-grid style="margin-left: 8px; margin-right:6px">    
    <ion-list id="transaction-details">
      <ion-item lines="none" class="ion-no-padding">
        <ion-label class="value completed">
          <h6 class="title">Status</h6>
          <p>Completed</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none" class="ion-no-padding">
        <ion-label>
          <h6 class="title">Hash
            <a class="copy" (click)="copyToClipPWA(id)">
              Copy 
            </a>
          </h6>
          <p class="value wrap"> {{ id }}</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none" class="ion-no-padding">
        <ion-label>
          <h6 class="title">Size</h6>
          <p class="value"> {{ size }}</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none" class="ion-no-padding">
        <ion-label>
          <h6 *ngIf="isinblock === true" class="title">Missed Block</h6>
          <h6 *ngIf="isinblock === false" class="title">In Block</h6>
          <p>{{blocknumber}}</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none" class="ion-no-padding">
        <ion-label>
          <h6 class="title">Nonce</h6>
          <p class="value">{{nonce}}</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none" class="ion-no-padding">
        <ion-label>
          <h6 class="title">Transaction Type</h6>
          <p class="value">{{type}}</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none" *ngIf="type === 'Token Creation.'" class="ion-no-padding">
        <ion-label>
          <h6 class="title">Token Name</h6>
          <p class="value">{{ tokenname }}</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none" *ngIf="type === 'Token Creation.'" class="ion-no-padding">
        <ion-label>
          <h6 class="title">Token Total</h6>
          <p class="value">{{ tokentotal }}</p>
        </ion-label>
      </ion-item>    

      <!-- <ion-item lines="none">
        <ion-col size-md="3"  size-sm="6" class="title">
          Is A Block
        </ion-col>
        <ion-col class="value">
          {{ isblock }}
        </ion-col>
      </ion-item>

      <ion-item lines="none">
        <ion-col size-md="3"  size-sm="6" class="title">
          Is In A block
        </ion-col>
        <ion-col class="value">
          {{ isinblock }}
        </ion-col>
      </ion-item> -->
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-label>
          <h6>Overview</h6>
          <p>Inputs</p>
        </ion-label>
      </ion-list-header>

      <ion-item>
        

      </ion-item>

      <ion-col class="ion-no-padding" size="12" *ngFor="let input of inputs; let i=index;">

        <ion-row>
          <ion-col>
            <ion-card class="borders">
              <ion-list>
                <ion-item lines="none">
                  <ion-col size-md="3"  size-sm="6">
                    Index <a>{{ "#"+ i }}</a>
                  </ion-col>
                </ion-item>

                <ion-item lines="none">
                  <ion-col size-md="3"  size-sm="6" class="title">
                    Coinid
                  </ion-col>
                  <ion-col class="value">
                    {{ input.coinid }}
                  </ion-col>
                </ion-item>

                <ion-item lines="none">
                  <ion-col size-md="3"  size-sm="6" class="title">
                    Address
                    <a class="copy" (click)="copyToClipPWA(input.address)">
                      Copy
                    </a>
                  </ion-col>  
                  <ion-col class="value">
                    {{ input.address }}
                  </ion-col>               
                </ion-item>

                <ion-item lines="none">
                  <ion-col size-md="3"  size-sm="6" class="title">
                    Amount
                  </ion-col>
                  <ion-col class="value">
                    {{ input.amount }}
                  </ion-col>              
                </ion-item>

                <ion-item lines="none">
                  <ion-col size-md="3"  size-sm="6" class="title">
                    TokenID
                  </ion-col>  
                  <ion-col class="value">
                    {{ input.tokenid }}
                  </ion-col>               
                </ion-item>

                

              </ion-list>
            </ion-card>
          </ion-col>
        </ion-row>

      </ion-col>

      <ion-list-header>
        <ion-label>
          <p>Outputs</p>
        </ion-label>
      </ion-list-header>
      <ion-col class="ion-no-padding" size="12" *ngFor="let output of outputs; let i=index;">

        <ion-row>
          <ion-col>
            <ion-card>
              <ion-list>
                <ion-item lines="none">
                  <ion-col size-md="3"  size-sm="6">
                    Index <a>{{ "#"+ i }}</a>
                  </ion-col>
                </ion-item>

                <ion-item lines="none">
                  <ion-col size-md="3"  size-sm="6" class="title">
                    Coinid
                  </ion-col>
                  <ion-col class="value">
                    {{ output.coinid }}
                  </ion-col>
                </ion-item>

                <ion-item lines="none">
                  <ion-col size-md="3"  size-sm="6" class="title">
                    Address
                      <a class="copy" (click)="copyToClipPWA(output.address)">
                        Copy
                      </a>
                  </ion-col>
                  <ion-col class="value">
                    {{ output.address }}
                  </ion-col>              
                </ion-item>

                <ion-item lines="none">
                  <ion-col size-md="3"  size-sm="6" class="title">
                    Amount
                  </ion-col>
                  <ion-col class="value">
                    {{ output.amount }}
                  </ion-col>              
                </ion-item>

                <ion-item lines="none">
                  <ion-col size-md="3"  size-sm="6" class="title">
                    TokenID
                  </ion-col>  
                  <ion-col class="value">
                    {{ output.tokenid }}
                  </ion-col>               
                </ion-item>

              </ion-list>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-list>
  </ion-grid>
</ion-content>
