<ion-header class="border-b">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/history"></ion-back-button>
    </ion-buttons>
    <ion-title class="large-text">TxPoW Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="12">
        <ion-datetime disabled displayFormat="D MMMM YYYY &mdash; HH:mm:ss" value="{{ relaytime }}" display-timezone="utc" ></ion-datetime>
      </ion-col>
    </ion-row>
    
    <ion-list>
      <ion-list-header>
        Details
      </ion-list-header>

      <ion-item lines="none">
        <ion-col size-md="3"  size-sm="6" class="title">
          Status
        </ion-col>
        <ion-col class="value completed">
          Completed.
        </ion-col>
      </ion-item>

      <ion-item lines="none">
        <ion-col size-md="3"  size-sm="6" class="title">
          Hash
          <a class="copy" (click)="copyToClipPWA(id)">
            Copy 
          </a>
        </ion-col>
        <ion-col class="value">
          {{ id }}
        </ion-col>
      </ion-item>

      <ion-item lines="none">
        <ion-col size-md="3"  size-sm="6" class="title">
          Size
        </ion-col>
        <ion-col class="value">
          {{ size }}
        </ion-col>
      </ion-item>

      <ion-item lines="none">
        <ion-col size-md="3"  size-sm="6" class="title">
          Is A Block
        </ion-col>
        <ion-col class="value">
          {{ isblock }}
        </ion-col>
      </ion-item>

      <ion-item lines="none">
        <ion-col size-md="3"  size-sm="6" class="title">
          Is In A block
        </ion-col>
        <ion-col class="value">
          {{ isinblock }}
        </ion-col>
      </ion-item>

      <ion-item lines="none">
        <ion-col size-md="3"  size-sm="6" *ngIf="isinblock === true" class="title">
          In Block
        </ion-col>
        <ion-col size-md="3"  size-sm="6" *ngIf="isinblock === false" class="title">
          Would of been Block
        </ion-col>
        <ion-col class="value">
          {{ blocknumber }}
        </ion-col>
      </ion-item>

      <ion-item lines="none">
        <ion-col size-md="3"  size-sm="6" class="title">
          Nonce
        </ion-col>
        <ion-col class="value">
          {{ nonce }}
        </ion-col>
      </ion-item>

      <ion-item lines="none">
        <ion-col size-md="3"  size-sm="6" class="title">
          Transaction Type
        </ion-col>
        <ion-col class="value">
          {{ type }}
        </ion-col>
      </ion-item>
      
      <ion-item lines="none" *ngIf="type === 'Token Creation.'">
        <ion-col size-md="3"  size-sm="6" class="title">
          Token Name
        </ion-col>
        <ion-col class="value">
          {{ tokenname }}
        </ion-col>
      </ion-item>

      <ion-item lines="none" *ngIf="type === 'Token Creation.'">
        <ion-col size-md="3"  size-sm="6" class="title">
          Token Total
        </ion-col>
        <ion-col class="value">
          {{ tokentotal }}
        </ion-col>
      </ion-item>
      

    </ion-list>

    <ion-grid>
      <ion-list-header>
        Overview
      </ion-list-header>

      <ion-list-header class="inputs">
        Inputs
      </ion-list-header>
      <ion-col class="ion-no-padding" size="12" *ngFor="let input of inputs; let i=index;">

        <ion-row>
          <ion-col>
            <ion-card class="borders">
              <ion-list>
                <ion-item lines="none">
                  <ion-col size-md="3"  size-sm="6">
                    Index <a>{{ "#"+ i }}</a>
                  </ion-col>
                </ion-item>

                <ion-item lines="none">
                  <ion-col size-md="3"  size-sm="6" class="title">
                    Coinid
                  </ion-col>
                  <ion-col class="value">
                    {{ input.coinid }}
                  </ion-col>
                </ion-item>

                <ion-item lines="none">
                  <ion-col size-md="3"  size-sm="6" class="title">
                    Address
                    <a class="copy" (click)="copyToClipPWA(input.address)">
                      Copy
                    </a>
                  </ion-col>  
                  <ion-col class="value">
                    {{ input.address }}
                  </ion-col>               
                </ion-item>

                <ion-item lines="none">
                  <ion-col size-md="3"  size-sm="6" class="title">
                    Amount
                  </ion-col>
                  <ion-col class="value">
                    {{ input.amount }}
                  </ion-col>              
                </ion-item>

                <ion-item lines="none">
                  <ion-col size-md="3"  size-sm="6" class="title">
                    TokenID
                  </ion-col>  
                  <ion-col class="value">
                    {{ input.tokenid }}
                  </ion-col>               
                </ion-item>

                

              </ion-list>
            </ion-card>
          </ion-col>
        </ion-row>

      </ion-col>

      <ion-list-header class="outputs">
        Outputs
      </ion-list-header>
      <ion-col class="ion-no-padding" size="12" *ngFor="let output of outputs; let i=index;">

        <ion-row>
          <ion-col>
            <ion-card class="borders">
              <ion-list>
                <ion-item lines="none">
                  <ion-col size-md="3"  size-sm="6">
                    Index <a>{{ "#"+ i }}</a>
                  </ion-col>
                </ion-item>

                <ion-item lines="none">
                  <ion-col size-md="3"  size-sm="6" class="title">
                    Coinid
                  </ion-col>
                  <ion-col class="value">
                    {{ output.coinid }}
                  </ion-col>
                </ion-item>

                <ion-item lines="none">
                  <ion-col size-md="3"  size-sm="6" class="title">
                    Address
                      <a class="copy" (click)="copyToClipPWA(output.address)">
                        Copy
                      </a>
                  </ion-col>
                  <ion-col class="value">
                    {{ output.address }}
                  </ion-col>              
                </ion-item>

                <ion-item lines="none">
                  <ion-col size-md="3"  size-sm="6" class="title">
                    Amount
                  </ion-col>
                  <ion-col class="value">
                    {{ output.amount }}
                  </ion-col>              
                </ion-item>

                <ion-item lines="none">
                  <ion-col size-md="3"  size-sm="6" class="title">
                    TokenID
                  </ion-col>  
                  <ion-col class="value">
                    {{ output.tokenid }}
                  </ion-col>               
                </ion-item>

              </ion-list>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-grid>
  </ion-grid>
</ion-content>
