ion-datetime {
    font-family: manrope-bold;
    padding: 0;
    margin-left: 1%;
}
ion-back-button .button-native .button-inner ion-icon {
    font-size: 1.2rem!important;
}
ion-back-button:hover {
    --background-hover: none;
    --color: var(--ion-color-secondary);
}
ion-title {
    font-family: manrope-bold;
    font-size: 1.2rem;
    padding-top: 5%;
}
h5 {
    letter-spacing: -0.02em;
    font-weight: 600;
    font-size: 1.5rem;
}
.copy {
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.8rem;
}
ion-list-header {
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: -0.02em;
}
.title {
    font-family: manrope-bold;
    font-size: 1.0rem;
    float: left;
    text-overflow: ellipsis;
    max-width: inherit;
    white-space: normal;
    word-wrap: normal;
}
.value {
    font-family: manrope-light;
    text-align: left;
    float:left;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: inherit;
    overflow: hidden;
}
.relay {
    display: inline-block;
    width: 100%;
}
.chevron {
    width: 15px;
}
.inputs, .outputs {
    font-size: 1.2rem;
    opacity: 0.5;
}
.completed {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(75,222,131, 0.7);
}