ion-datetime {
    font-family: manrope-bold;
    padding: 0;
    margin-left: 1%;
}
ion-title ion-item {
    margin-left: 8px;
}
ion-list#input-details, ion-list#output-details {
    margin: 0;
    padding: 0;
}
div#inputs, div#outputs {
    margin-left: 15px;
    margin-right: 18px;
}
div#inputs ion-item, div#outputs ion-item {
    border-bottom: 1px solid #f0f0fa;
}
ion-list#input-details ion-item:nth-child(0), ion-list#output-details ion-item:nth-child(0) {
    margin-left: 0!important;
}
ion-list#input-details ion-list-header, ion-list#output-details ion-list-header {
    font-size: 16px;

    ion-item {
        width: 100%;
        margin-right: 17px!important;
        border-bottom: 1px solid #001C32;
    }
}
ion-list#transaction-details {
    margin: 0;
    padding: 0;
}
ion-list#transaction-details ion-item:first-child ion-label {
    margin-top: 3px !important;
}
ion-list#transaction-details ion-item ion-label {
    margin-top: 0px;
    margin-bottom: 6px;
}
ion-list#transaction-details ion-item {
    border-bottom: 1px solid #f0f0fa;
    margin-left: 15px;
    margin-right: 17px;
}
ion-item#last-child {
    --border-color: #001C32 !important;
    --border-width: 0 0 1px 0;
}
.copy {
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.8rem;
}
ion-list-header ion-label h6 {
    font-size: 16px;
    font-family: manrope-bold;
}
ion-list-header ion-label p {
    font-size: 16px;
    font-family: manrope-medium;
}
.title {
    font-family: manrope-bold;
    font-size: 1.0rem;
    text-overflow: ellipsis;
    max-width: inherit;
    white-space: normal;
    word-wrap: normal;
}
.value {
    font-family: manrope-regular;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: inherit;
    overflow: hidden;
}
.wrap {
    white-space: normal !important;
    text-overflow: clip !important;
    overflow: auto !important;
}
.relay {
    display: inline-block;
    width: 100%;
}
.chevron {
    width: 15px;
}
.completed p {
    font-size: 16px;
    color: rgba(75,222,131, 0.7);
}

