
<ion-header class="page-header ion-no-border">
  <ion-toolbar>
    <ion-title>
      <ion-item id="title" lines="none" class="ion-no-padding ion-no-margin">
        Choose a contact
        <span (click)="dismiss()" class="dismiss" slot="end">Dismiss</span>
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="has">
    <ion-row>
      <ion-col>
        <ion-item class="ion-no-padding" lines="none">
          <ion-searchbar class="searchbarinput" (ionChange)="queryContacts($event.target.value)" placeholder="Search..."></ion-searchbar>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid class="ion-no-padding" *ngIf="contacts && contacts.length === 0">
    <ion-row>
      <ion-col class="ion-no-padding" size="12">
        <ion-label style="padding-left: 27px" class="prompt">No contact to display...</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list #contactList class="ion-no-padding contacts" *ngFor="let contact of contacts">
    <ion-item (click)="selectAddress(contact.ADDRESS)" class="contactItem ion-no-padding" lines="none">
      <ion-avatar slot="start">
        <img src="{{contact.AVATAR}}">
      </ion-avatar>
      <ion-label> 
        <h3>{{ contact.NAME }}</h3>
        <p>{{ contact.ADDRESS }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  

</ion-content>