<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title color="primary">Join Community</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list lines="half">
<ion-item lines="half" href="https://minima.global/" target="_blank" detail>
    <ion-icon slot="start" name="globe" style="padding: 10px;" color="gray" size="large"></ion-icon>
    Official Minima Website
  </ion-item>
  <ion-item lines="half" href="https://t.me/Minima_Global" target="_blank" detail>
    <ion-icon slot="start" [src]="teleImgMode()" style="padding: 10px;" color="primary" size="large"></ion-icon>
    Join our Telegram chat
  </ion-item>
  <ion-item lines="half" href="https://twitter.com/Minima_Global" target="_blank" detail>
    <ion-icon slot="start" src="./assets/Twitter.svg" style="padding: 10px;" color="primary" size="large"></ion-icon>
    Follow us on Twitter
  </ion-item>
  <ion-item lines="half" href="https://github.com/spartacusrex99/Minima" target="_blank" detail>
    <ion-icon slot="start" [src]="gitImgMode()" style="padding: 10px;" color="primary" size="large"></ion-icon>
    Join our dev community
  </ion-item>
  <ion-item lines="half" href="https://medium.com/minima-global" target="_blank" detail>
    <ion-icon slot="start" src="./assets/Medium.svg" style="padding: 10px;" color="primary" size="large"></ion-icon>
    Subscribe to our Medium blog
  </ion-item>
  
  
</ion-list>
</ion-content>
