<ion-header class="border-b">
  <ion-toolbar>
    <ion-menu-button class="menu-icon" slot="start"></ion-menu-button>
    <ion-title class="large-text">Join Community</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
      <ion-col size="12" size-md="6">
          <ion-card href="https://minima.global/" target="_" class="social-card borders">
              <ion-card-header>
                Official Website
              </ion-card-header>
              <ion-card-content>
                <ion-icon src="./assets/community/global.svg" alt="" class="socials"></ion-icon>
              </ion-card-content>
          </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-card href="https://github.com/Minima-Protocol" target="_" class="social-card borders">
          <ion-card-header>
            Github
          </ion-card-header>
          <ion-card-content>
            <ion-icon src="./assets/community/github.svg" alt="" class="socials"></ion-icon>
          </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" size-md="6">
        <ion-card href="https://twitter.com/minima_global" target="_" class="social-card borders">
            <ion-card-header>
              Twitter
            </ion-card-header>
            <ion-card-content>
              <ion-icon src="./assets/community/twitter.svg" alt="" class="socials"></ion-icon>
            </ion-card-content>
        </ion-card>
    </ion-col>
    <ion-col size="12" size-md="6">
      <ion-card href="https://t.me/Minima_Global" target="_" class="social-card borders">
        <ion-card-header>
          Telegram
        </ion-card-header>
        <ion-card-content>
          <ion-icon src="./assets/community/telegram.svg" alt="" class="socials"></ion-icon>
        </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="12" size-md="6">
      <ion-card href="https://medium.com/minima-global" target="_" class="social-card borders">
          <ion-card-header>
            Medium
          </ion-card-header>
          <ion-card-content>
            <ion-icon src="./assets/community/medium.svg" alt="" class="socials"></ion-icon>
          </ion-card-content>
      </ion-card>
  </ion-col>
  <ion-col size="12" size-md="6">
    <ion-card href="https://medium.com/minima-global" target="_" class="social-card borders">
        <ion-card-header>
          Discord
        </ion-card-header>
        <ion-card-content>
          <ion-icon src="./assets/community/medium.svg" alt="" class="socials"></ion-icon>
        </ion-card-content>
    </ion-card>
</ion-col>
</ion-row>



</ion-grid>

</ion-content>
