@media screen and (max-width: 320px) {
    p {
        font-size: 10px;
    }
}

.ion-text-wrap {
    word-wrap: normal;
}

ion-card {
    border-radius: 30px;
    background-color: #FFFFFF;
    border-top: 3px solid #06AAC7;
    border-bottom: 3px solid #06AAC7;
}

ion-label {
    font-style: oblique;
}



ion-icon {
    color: #06AAC7;
}