<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">  
    Balance
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
</ion-refresher>

    

  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-icon name="card" style="color:#FF671D;" slot="start"></ion-icon>
        <ion-card-title class="ion-text-center">Balance</ion-card-title>
      </ion-item>
    </ion-card-header>
    <ion-card-content>

      <!-- <ion-lis *ngFor = "let coin of balance"> -->
      <ion-list lines="none" style="padding:20px;">
      <ion-grid>
      
        <ion-row>
          <ion-col size="4">
            <ion-label>
              
            </ion-label>             
          </ion-col>
          <ion-col size="4">
            
            <ion-label class="ion-text-wrap">
              Confirmed
            </ion-label>
          </ion-col>
          <ion-col size="4"> 
            <ion-label class="ion-text-wrap">
              {{strUnconfirmed}}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-label>
              <ion-icon src="../../assets/icon/minima.svg"></ion-icon> MINI
            </ion-label>          
          </ion-col>
          <ion-col size="4">
            <p style="color: #00AAC7;">{{confirmed}}</p>
          </ion-col>
          <ion-col size="4">
            
            <p style="color: #00AAC7">{{unconfirmed}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <br>
      <br>
      <ion-button  shape="round" expand="block" type="button"  (click)="giveMe50()">
        <ion-icon name="cash" slot="start" style="color:white;"></ion-icon> Add 50
      </ion-button>
    </ion-card-content>
  </ion-card>



  <!-- <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-icon name="book" style="color:#FF671D;" slot="start"></ion-icon>
        <ion-card-title class="ion-text-centre">Transaction History (UNDER DEV)</ion-card-title>
      </ion-item>
    </ion-card-header>

    <ion-card-content> -->
      <!-- Begin Transaction Pull (Received, Sent transactions) -->
      <!-- <ion-list-header>
        
        <ion-label><ion-icon name="calendar"></ion-icon>Today</ion-label>
      </ion-list-header>
      <ion-list>
        <ion-grid>
          <ion-row style="width: 100%; height: 100%;"> -->
            <!-- <ion-col size="4"> 
              <ion-chip class="ion-margin-start">
                  <ion-icon name="arrow-round-back"></ion-icon>
                <ion-label>Received</ion-label>
              </ion-chip>
            </ion-col>

            <ion-col size="4"> 
              
                <ion-label>
                  <h3 style="font-weight: bold;">0xf53B48a78B7B5111347b4dED5769BAA11f65ea26</h3>
                  <p>16:48</p>
                </ion-label>
            
            </ion-col>

            <ion-col size="4" style="text-overflow: ellipsis;"> 
              <ion-chip class="ion-margin-start">
              + 50.00
              </ion-chip>
            </ion-col>

          </ion-row>

          <ion-row style="width: 100%; height: 100%;">
            <ion-col size="4"> 
              <ion-chip class="ion-margin-start">
                  <ion-icon name="arrow-round-forward"></ion-icon>
                <ion-label>Sent</ion-label>
              </ion-chip>
            </ion-col>

            <ion-col size="4"> 
              <ion-label>
                <h3 style="font-weight: bold;">0xf53B48a78B7B5111347b4dED5769BAA11f65ea26</h3>
                <p>17:00</p>
              </ion-label>
            </ion-col>

            <ion-col size="4" style="text-overflow: ellipsis;"> 
              <ion-chip class="ion-margin-start">
              - 200.00
              </ion-chip>
            </ion-col>

          </ion-row>
        </ion-grid>


      </ion-list> -->


      <!-- <ion-list-header>
        <ion-label><ion-icon name="calendar"></ion-icon>Yesterday</ion-label>
      </ion-list-header>
      <ion-list>
        <ion-grid>
          <ion-row style="width: 100%; height: 100%;">
            <ion-col size="4"> 
              <ion-chip class="ion-margin-start">
                  <ion-icon name="arrow-round-back"></ion-icon>
                <ion-label>Received</ion-label>
              </ion-chip>
            </ion-col>

            <ion-col size="4"> 
              
                <ion-label>
                  <h3 style="font-weight: bold;">0xf53B48a78B7B5111347b4dED5769BAA11f65ea26</h3>
                  <p>16:48</p>
                </ion-label>
            
            </ion-col>

            <ion-col size="4" style="text-overflow: ellipsis;"> 
              <ion-chip class="ion-margin-start">
              + 50.00
              </ion-chip>
            </ion-col>

          </ion-row>

          <ion-row style="width: 100%; height: 100%;">
            <ion-col size="4"> 
              <ion-chip class="ion-margin-start">
                  <ion-icon name="arrow-round-forward"></ion-icon>
                <ion-label>Sent</ion-label>
              </ion-chip>
            </ion-col>

            <ion-col size="4">
              <ion-label>
                <h3 style="font-weight: bold;">0xf53B48a78B7B5111347b4dED5769BAA11f65ea26</h3>
                <p>17:00</p>
              </ion-label>
            </ion-col>

            <ion-col size="4" style="text-overflow: ellipsis;"> 
              <ion-chip class="ion-margin-start">
              - 200.00
              </ion-chip>
            </ion-col>

          </ion-row>
        </ion-grid>


      </ion-list>


    </ion-card-content>
  </ion-card> -->


</ion-content>

