<ion-app>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">  
    Balance
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card color="white">
    <ion-card-header color="white">
      <ion-item lines="none">
        <ion-icon style=" font-size:1.0rem" name="card" slot="start"></ion-icon>
        <ion-card-title class="ion-text-center" color="tertiary"><ion-text color="tertiary"></ion-text></ion-card-title>
      </ion-item>
    </ion-card-header>
    <ion-card-content>

      <!-- <ion-lis *ngFor = "let coin of balance"> -->
      <ion-list lines="none" style="padding:20px;">
        <ion-item>
          <ion-label></ion-label> <!-- Empty label filler -->
          <ion-label class="confirmed-label">
            Confirmed
          </ion-label>
          <ion-label class="confirmed-label">
            {{strUnconfirmed}}
          </ion-label>

        </ion-item>
          
      </ion-list>

      <ion-list *ngFor="let token of tokenArr" #tokenArrayReference>

        <ion-item-sliding>
          <ion-item-options side="start">
            <ion-item-option routerLink="/my-address">Receive</ion-item-option>
            <ion-item-option color="danger" routerLink="/send-funds">Send</ion-item-option>
          </ion-item-options>
      
          <ion-item>
            <ion-label class="logo-names">
              <ion-icon  [hidden]="amiToken()" src="../../assets/icon/minima.svg"></ion-icon> 
              {{ token.token }}
            </ion-label>  
            <ion-label class="confirmed-amount">
              {{ token.confirmed  }} 
            </ion-label>
            <ion-label class="confirmed-amount">
             {{ token.unconfirmed }}
            </ion-label>
          </ion-item>
      
          <ion-item-options side="end">
            <ion-item-option (click)="presentPopover($event)">TokenID</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        
    </ion-list>
    

    <ion-progress-bar 
    #progressBar value="0.25" 
    buffer="0.5" 
    [hidden] = "progressShow">
  </ion-progress-bar>  
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button shape="" expand="block" type="button"  (click)="giveMe50()">
        <ion-icon name="cash" slot="start"></ion-icon> Gimme 50
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
</ion-app>