@media screen and (max-width: 320px) {
    p {
        font-size: 10px;
    }
}
ion-card {
    border-radius: 30px;
    background-color: #FFFFFF;

}

ion-footer ion-toolbar ion-buttons ion-button{
    width: 100%;
 }

 .confirmed-label{
     font-size: 0.75rem;
     font-weight: 300;
     white-space: normal;
 }
 .confirmed-amount {
    color: #00AAC7;
    font-size: 0.75rem;
    font-weight: 300;
    white-space: normal;
 }
 .logo-names {
     font-size: 0.75rem;
     font-weight: 300;
     
 }