ion-input {
  color: #000;
  font-size: 0.875rem;
  background-color: var(--ion-color-inputs);
  border: 1px solid #f0f0fa;
  padding-left: 10px!important;
}
ion-list {
  ion-item {
    --inner-padding-end: 0;
    ion-label {
       span#optional {
         font-family: manrope-light;
         color: var(--ion-color-tertiary);
       }
      color: var(--ion-color-tertiary);
      font-size: 1.25rem;
      font-family: manrope-bold;
      white-space: normal;
      margin-bottom: 10px;
    }
  }
}
ion-list:first-child {
  padding-top:0;
}
ion-checkbox {
  --border-color: var(--ion-color-tertiary);
}
ion-item#nft {
  display: inline;
  vertical-align: middle;
}
ion-item#nft ion-row {
  margin-top: 12px;
}
ion-item#nft ion-row:last-child {
  margin-top: 7px;
}
ion-icon.nftIcon {
  margin-right: 7px;
  font-size: 1.875rem;
}
ion-label.nft {
  font-size: 1.0rem !important;
}
ion-checkbox {
  --size: 1.875rem;
}
ion-textarea {
  padding-left: 10px;
  font-size: 0.875rem;
  color: var(--ion-color-text);
  background: var(--ion-color-inputs);
}
ion-card-content {
  background: var(--ion-card-color);
}
ion-card-header {
  --color: var(--ion-text-color,#000);
  font-family: manrope-bold;
}
.input {
  font-family: manrope-light;
}
.length {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-family: manrope-light;
  font-size: 0.875rem;
  color: var(--ion-color-tertiary);
}
.length ion-note {
  font-family: manrope-light!important;
  color: var(--ion-color-tertiary)!important;
}
ion-item.createtoken-wrapper {
  display: flex;
  float: right;
  justify-content: right;
  align-items: flex-end;
}
ion-button.create-token {
  height: 35px;
  width: 164px;
  float: right;
  background-color: var(--ion-color-primary);
  color: #fff;
  text-transform: none;
  font-family: manrope-bold;
}
ion-button.create-token:hover {
  --background: #346EE5;
}
span#nftOptional {
  font-size: 0.875rem;
  font-family: manrope-light;
  color: var(--ion-color-tertiary);
}