/** Title */

ion-title {
     color:  var(--ion-text-color, #F6661D);
}
ion-title ion-icon {
    width: 16px;
    position: absolute;
    padding-top: 3px;
    cursor: pointer;
    font-weight: 300;
}
ion-title span {
    color:  var(--ion-text-color, #000);
    font-size: 16px;
}
ion-card-header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    font-size: 16px;
    
}
ion-card-header ion-grid {
    text-align: center;
}
ion-card-header ion-icon {
    --ionicon-stroke-width: 60px;
}
ion-card-header img {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
ion-card-header ion-col {
    white-space: normal;
}
#variable {
    text-align: right;
    font-weight: 400;
}
#varname {
    font-weight: 700;
}

ion-card {
    --background: var(--ion-background-color, #f2f2f2);
    background: linear-gradient(to bottom,  var(--ion-background-color, #fff) 0%, var(--ion-background-color, #f2f2f2) 100%) !important;
}
