<ion-header>
  <ion-toolbar>
    <ion-title slot="start" class="large-text">
    
    <span *ngIf="name.length <= 10" class="large-text">{{ name + " " }}</span>
    <span *ngIf="name.length > 10" class="large-text">{{ name.substring(0, 10)+"... " }}</span>

    <span class="medium-text" [hidden]="tokenid == '0x00'">{{ tokenid.substring(0,8) + "..."}}</span>
    <span class="medium-text" [hidden]="tokenid !== '0x00'">{{ tokenid }}</span>
    <ion-icon (click)="copyToClipboard()" name="clipboard"></ion-icon>
    </ion-title>
  
  <ion-button 
  class="medium-text"
  slot="end"
  fill="clear"
  (click)="dismiss()">
  Dismiss
  </ion-button>
  </ion-toolbar>
</ion-header>

<!-- Only if custom token -->
<ion-content [hidden]="tokenid == '0x00'">
  <ion-card> 
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col >
            <img style="max-width: 250px; min-height:75px;"[hidden]="tokenid == '0x00'" src="{{ icon }}"/>
            <img style="max-width: 250px; min-height:75px;" [hidden]="tokenid !== '0x00'" src="assets/icon/icon.png"/>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="medium-text" [hidden]="tokenid === '0x00'">
          {{ description }}
          </ion-col>
          <ion-col class="medium-text" [hidden]="tokenid !== '0x00'">
            Minima's Official Token
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
         <ion-col class="small-text" id="varname">
           Total Amount Available
         </ion-col>
         <ion-col class="small-text" id="variable">
            {{ total }}
         </ion-col>
        </ion-row>
        <ion-row [hidden]="tokenid == '0x00'">
         <ion-col class="small-text" id="varname">
           Total Amount Available (Minima)
         </ion-col>
         <ion-col class="small-text" id="variable">
            {{ totalamount }}
         </ion-col>
        </ion-row>
        <ion-row>
         <ion-col class="small-text" id="varname">
           Token Type
         </ion-col>
         <ion-col class="small-text" [hidden]="script !== 'RETURN TRUE'" id="variable">   
            Fungible
         </ion-col>
         <ion-col class="small-text" [hidden]="script == 'RETURN TRUE'" id="variable">
            Non-Fungible
         </ion-col>
        </ion-row>
        <ion-row>
         <ion-col class="small-text" id="varname">
           Proof Availability
         </ion-col>
         <ion-col class="small-text" [hidden]="proof.length > 0" id="variable">   
            False
         </ion-col>
         <ion-col class="small-text" [hidden]="proof.length == 0" id="variable">
            True
         </ion-col>
        </ion-row>
        <ion-row id="varname" [hidden]="proof.length <= 0">
         <ion-col class="small-text">
           Proof URL
         </ion-col>
         <ion-col class="small-text" id="variable">   
             {{ proof }}
         </ion-col>
        </ion-row>
        <ion-row id="varname" [hidden]="proof.length <= 0">
         <ion-col class="small-text">
           Validate Proof
         </ion-col>
         <ion-col id="variable">   
          <ion-button class="small-text" size="small" (click)="validateProof(tokenid)">
            Validate
          </ion-button>
         </ion-col>
        </ion-row>
        <ion-row>
         <ion-col class="small-text" id="varname" >
           Confirmed/Sendable Amount
         </ion-col>
         <ion-col class="small-text" id="variable">   
             {{ confirmed + "/" + sendable }}
         </ion-col>
        </ion-row>
        <ion-row>
         <ion-col class="small-text" id="varname">
           Unconfirmed Amount
         </ion-col>
         <ion-col class="small-text" id="variable">   
             {{ unconfirmed }}
         </ion-col>
        </ion-row>
        <ion-row>
         <ion-col class="small-text" id="varname">
           Mempool
         </ion-col>
         <ion-col class="small-text" id="variable">   
             {{ mempool }}
         </ion-col>
        </ion-row>
        <ion-row>
         <ion-col class="small-text" size="3" id="varname">
           Script
         </ion-col>
         <ion-col class="small-text" size="9" id="variable">   
             {{ script }}
         </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button size="55px;" color="minima-text" (click)="sendTokenOver(tokenid)">
      <ion-icon size="45px;" name="send" color="tertiary"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<!-- Only if Minima token -->
<ion-content [hidden]="tokenid !== '0x00'">
  <ion-card> 
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img style="max-width: 250px; min-height:75px;" [hidden]="tokenid !== '0x00'" src="assets/icon/icon.png"/>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Minima - The Mobile Cryptocurrency
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    
  </ion-card>
  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button size="55px;" color="minima-text" (click)="sendTokenOver(tokenid)">
      <ion-icon size="45px;" name="send" color="tertiary"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>