.dismiss-btn {
    height: 72px;
}
.information {
    text-align: right; 
    font-weight: 300;
}
.completed {
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    color: #93C54B;
}
.info-lbl {
    text-align: left;
    font-weight: 700;
}
ion-card-header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    font-size: 16px;
}
ion-card-header ion-grid {
    text-align: center;
}
ion-card-header ion-icon {
    --ionicon-stroke-width: 60px;
}
ion-card-header h2 {
    font-size: 22px;
}
#msg{
    width:100%;
    font-size: 18px;
    font-weight: bold;
    white-space: normal;
}
// hide scrolling 
ion-card {
    --overflow: hidden;
}