<ion-header>
  <ion-toolbar>
    <ion-title slot="start"><span style="color:#FF671E">TxPoW</span> <span style="font-size:14px;">{{ TXPOW_ID.substring(0,20)+"..." }}</span></ion-title>

  <ion-button slot="end" fill="clear" (click)="dismiss()" class="dismiss-btn">
  Dismiss
  </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
  <ion-grid><ion-row>
  <ion-col>
    <!-- TXN Type -->
    <ion-icon size="large" [name]="getTXNType(Amount)"></ion-icon>
    <h2 class="large-text" *ngIf="Amount.toString().substring(0, 1) !== '-' && !TokenName.name">  {{"+"+Amount}} {{ TokenName }} </h2>
    <h2 class="large-text" *ngIf="Amount.toString().substring(0, 1) === '-' && !TokenName.name">  {{Amount}} {{ TokenName }} </h2>

    <h2 class="large-text" *ngIf="Amount.toString().substring(0, 1) !== '-' && TokenName.name">  {{"+"+Amount}} {{ TokenName.name }} </h2>
    <h2 class="large-text" *ngIf="Amount.toString().substring(0, 1) === '-' && TokenName.name">  {{Amount}} {{ TokenName.name }} </h2>
  </ion-col>
  </ion-row>
  <!-- TXN Message (if any)-->
  <ion-row>
  <ion-col id="msg" class="medium-text" *ngIf="Message.length > 0 && Message[0].data === '01000100'">
    {{'"'+ Message[1].data +'"' }}
  </ion-col>
  </ion-row>
  </ion-grid>
  </ion-card-header>
<!-- TXN Details -->  
<ion-grid>

  <!-- <ion-row>
    <ion-col class="medium-text" class="info-lbl small-text">
      Recipient Address
    </ion-col>

    <ion-col *ngIf="TokenID === '0x00'" class="information small-text">
      {{ Address.substring(0, 15)+"..." }}
    </ion-col>

  </ion-row> -->

  <ion-row>
    <ion-col class="medium-text" class="info-lbl small-text">
      TokenID
    </ion-col>

    <ion-col *ngIf="TokenID === '0x00'" class="information small-text">
      {{ TokenID }}
    </ion-col>
    <ion-col *ngIf="TokenID !== '0x00'"class="information small-text">
      {{ TokenID.substring(0,15)+"..."}}
    </ion-col>

  </ion-row>

  <ion-row> 
    <ion-col class="info-lbl medium-text">
      Is a Block
    </ion-col>

    <ion-col *ngIf="Block === true" class="information small-text">
      True
    </ion-col>
    <ion-col *ngIf="Block !== true" class="information small-text">
      False
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col class="info-lbl medium-text">
      Stored in a Block
    </ion-col>

    <ion-col *ngIf="isinblock" class="information small-text">
      True
    </ion-col>
    <ion-col *ngIf="!isinblock" class="information small-text">
      False
    </ion-col>

  </ion-row>

  <ion-row *ngIf="isinblock">
    <ion-col class="info-lbl small-text">
      Block Number
    </ion-col>

    <ion-col class="information small-text">
      {{ Block }}
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col class="info-lbl small-text">
      Part of chain
    </ion-col>

    <ion-col *ngIf="ispartofchain" class="information small-text">
      True
    </ion-col>
    <ion-col *ngIf="!ispartofchain" class="information small-text">
      False
    </ion-col>
  </ion-row>

</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col class="info-lbl">
      <ion-text class="small-text" style="font-weight: 400 !important;">{{ Date.substring(4, 10) }}</ion-text><br>
      <ion-text class="medium-text" style="font-size:18px;">{{ Date.substring(10, 20) }}</ion-text>
     </ion-col>

    <ion-col class="completed medium-text">
      Completed
    </ion-col>
  
  </ion-row>
</ion-grid>

</ion-card>


</ion-content>
