<ion-app>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="menu-icon"></ion-menu-button>
    </ion-buttons>
    <ion-title class="large-text">
      Status
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header *ngIf="status?.version">
     Minima Node{{ " Version "+ status?.version }}
    </ion-card-header>
    <ion-card-header *ngIf="!status?.version">
      Minima Node{{ " Version ..loading"}}
     </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <h5>
                Status
              </h5>
              <p *ngIf="status?.version" class="status-on small-text"> Online</p>
              <p *ngIf="!status?.version" class="status-off small-text"> Offline</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <h5>
                Node Version
              </h5>
              <p *ngIf="status?.version" class="small-text">{{ "v"+status?.version }}</p>
              <p *ngIf="!status?.version" class="small-text">{{ "v ..loading" }}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <h5>
                Uptime
              </h5>
              <p class="small-text">{{ status?.uptime.substring(0,51) }}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <h5>
                Configuration path
              </h5>
              <p class="small-text">{{ status?.conf }}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <h5>
                Host IP
              </h5>
              <p class="small-text">{{ status?.host +':' }}{{ status?.minimaport }}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <h5>
                RPC Port
              </h5>
              <p class="small-text">{{ status?.rpcport }}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <h5>
                Chainspeed
              </h5>
              <p class="small-text">{{ status?.chainspeed }}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <h5>
                Chainlength
              </h5>
              <p class="small-text">{{ status?.chainlength }}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <h5>
                Chainweight
              </h5>
              <p class="small-text">{{ status?.chainweight }}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <h5>
                IBD
              </h5>
              <p class="small-text">{{ status?.IBD }}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <h5>
                Last Block Number
              </h5>
              <p class="small-text">{{ status?.lastblock }}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <h5>
                Relayed Time
              </h5>
              <p class="small-text"> {{ status?.lasttime.substring(4, 30) }}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list> 
    </ion-card-content>
  </ion-card>

</ion-content>
</ion-app>