<ion-app>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">
      Status
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-list *ngIf="statusOfStatus === 'updated' ">
        <ion-list-header>
        Minima Node Status
        </ion-list-header>
          <ion-item>
            <ion-icon name="checkmark-circle" slot="start"></ion-icon>
            <ion-label>
            <h2>Status</h2>
            <p> {{ status?.status }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="checkmark-circle" slot="start"></ion-icon>
            <ion-label>
            <h2>Node uptime</h2>
            <p>{{ status?.response.stringuptime }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="checkmark-circle" slot="start"></ion-icon>
            <ion-label>
            <h2>Configuration path</h2>
            <p>{{ status?.response.conf }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="checkmark-circle" slot="start"></ion-icon>
            <ion-label>
            <h2>Hosting IP</h2>
            <p>{{ status?.response.host +':' }}{{ status?.response.port }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="checkmark-circle" slot="start"></ion-icon>
            <ion-label>
            <h2>RPC Port</h2>
            <p>{{ status?.response.rpcport }}</p>
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-icon name="checkmark-circle" slot="start"></ion-icon>
            <ion-label>
            <h2>Last block number</h2>
            <p>{{ status?.response.tip.block }}</p>
            </ion-label>
          </ion-item>
        </ion-list>

        <!-- SKELETON UX FOR LOADING -->
        <div *ngIf="statusOfStatus === 'empty'">
        <ion-list>
        <ion-list-header>
        Minima Node Status
        </ion-list-header>
          <ion-item>
            <ion-icon name="checkmark-circle" slot="start"></ion-icon>
            <ion-label>
            <h2>Status</h2>
            <p> <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="checkmark-circle" slot="start"></ion-icon>
            <ion-label>
            <h2>Node uptime</h2>
            <p> <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="checkmark-circle" slot="start"></ion-icon>
            <ion-label>
            <h2>Configuration path</h2>
            <p> <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="checkmark-circle" slot="start"></ion-icon>
            <ion-label>
            <h2>Hosting IP</h2>
            <p> <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="checkmark-circle" slot="start"></ion-icon>
            <ion-label>
            <h2>RPC Port</h2>
            <p> <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-icon name="checkmark-circle" slot="start"></ion-icon>
            <ion-label>
            <h2>Last block number</h2>
            <p> <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
            </ion-label>
          </ion-item>
        </ion-list>
        </div>

</ion-content>

<ion-footer>
     <ion-list lines="none">
       <ion-item>
       <ion-icon slot="start" name="notifications"></ion-icon>
       <p>Call "status" in 
         <a style="font-style: normal;" routerLink="/mini-term">terminal</a> for more details of the node's status.</p> 
      </ion-item>
     </ion-list>
</ion-footer>
</ion-app>