ion-card-header {
    --background: var(--ion-background-color, #f2f2f2);
    background: linear-gradient(to bottom,  var(--ion-background-color, #fff) 0%, var(--ion-background-color, #f2f2f2) 100%) !important;
}

ion-list-header {
    background: var(--ion-card-header);
}

.status-on {
    color: #48D2D3;
}
.status-off {
    color: #f2f2f2;
}
ion-toolbar {
    --background: var(--ion-m-background);
}

ion-row {
    margin-bottom: 8px;
}

h5, ion-card-header {
    font-weight: 600;
    letter-spacing: -0.02em;
}

p {
    opacity: 0.6;
    font-weight: 500;
}