ion-list-header {
    --background: var(--ion-background-color, #f2f2f2);
    width: auto;
    height: 15px;
    border: 50px;
    border-right: 50px;
}
#status-content {
    width: 100%;
    padding: 5px;
    border-radius: 20%;
    font-size: 0.5em;
}

#status-content ion-icon {
    padding-left: 1em;
    color: #FF671D;
}

#status-content ion-list ion-grid ion-col ion-item {
    font-size: 1.5em;
}

.ion-text-wrap {
    word-wrap: normal;
}

ion-list ion-item h2 {
    color: #06AAC7;
}

ion-list ion-item p {
    white-space: normal;
}

.active-icons {
    color: #06AAC7;

}
.inactive-icons{
    color: #FF671D;
}

ion-footer ion-list ion-item {
    border-top: 2px solid #ffffcc;
    border-bottom: 2px solid#ffffcc;
    border-radius: 5px;
}

ion-list-header {
    font-size: 1.0rem;
    padding: 25px;
}


.status-on {
    color: #48D2D3;
}
.status-off {
    color: #f2f2f2;
}
#version {
    font-family: 'Aeonik-light';
    color: #06AAC7;
    font-size: 20px;
}

