/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


//CSS Fallback 
body.dark {

  /** Minima Icon */
  --st0: #9FA0A1;
  --st1: #9FA0A1;
  --st2: #9FA0A1;
  --st3: #9FA0A1;
  --st4: #9FA0A1;
  --st5: #9FA0A1;
  --st6: #9FA0A1;
  --minima-icon-word: #9FA0A1; // M I N I M A Dark Mode

  --card-header-color: #111417;
  --ion-card-color: #1A1C1E;
  --ion-card-header: linear-gradient(121deg, rgba(17,20,23,1) 17%, rgba(18,18,18,0.865983893557423) 89%);


  --ion-color-success: #004a45;
  --ion-color-danger: #b86e00;

  --minima-text: #868687;
  --minima-icons: #868687;

  --ion-color-primary: #06AAC7;
  --ion-color-primary-rgb: 66,140,255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #3a7be0;
  --ion-color-primary-tint: #5598ff;

  --ion-color-secondary: #50c8ff;
  --ion-color-secondary-rgb: 80,200,255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #46b0e0;
  --ion-color-secondary-tint: #62ceff;

  --ion-color-tertiary: #ffffff;
  --ion-color-tertiary-rgb: 106,100,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #5d58e0;
  --ion-color-tertiary-tint: #7974ff;

  --ion-color-success: #004a45;
  --ion-color-success-rgb: 47,223,117;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;

  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255,213,52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #b86e00;
  --ion-color-danger-rgb: 255,73,97;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  --ion-color-dark: #000000;
  --ion-color-dark-rgb: 244,245,248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0,0,0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34,36,40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255,255,255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;

}

/*
 * iOS Dark Theme
 * -------------------------------------------
 */

.ios body.dark {

  /** Minima Icon */
  --st0: #9FA0A1;
  --st1: #9FA0A1;
  --st2: #9FA0A1;
  --st3: #9FA0A1;
  --st4: #9FA0A1;
  --st5: #9FA0A1;
  --st6: #9FA0A1;
  --minima-icon-word: #9FA0A1;


  --minima-text: #868687;
  --card-header-color: #111417;
  --ion-card-color: #1A1C1E;
  --ion-card-header: linear-gradient(121deg, rgba(17,20,23,1) 17%, rgba(18,18,18,0.865983893557423) 89%);

  --ion-background-color: #202123;
  --ion-background-color-rgb: 0,0,0;

  --ion-color-success: #004a45;
  --ion-color-danger: #b86e00;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-toolbar-background: #0d0d0d;

  --ion-item-background: #1c1c1c;
  --ion-item-background-activated: #313131;
  
}


// /*
//  * Material Design Dark Theme
//  * -------------------------------------------
//  */

.md body.dark {

  /** Minima Icon */
  --st0: #9FA0A1;
  --st1: #9FA0A1;
  --st2: #9FA0A1;
  --st3: #9FA0A1;
  --st4: #9FA0A1;
  --st5: #9FA0A1;
  --st6: #9FA0A1;
  --minima-icon-word: #9FA0A1;


  /** Dark Mode text */
  --card-header-color: #111417;
  --ion-card-color: #1A1C1E;
  --ion-card-header: linear-gradient(121deg, rgba(17,20,23,1) 17%, rgba(18,18,18,0.865983893557423) 89%);

  --minima-text: #868687;
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18,18,18;

  --ion-color-success: #004a45;
  --ion-color-danger: #b86e00;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-border-color: #222222;
  

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #1A1B1E;

  
}

/* History.page.ts - modal */
@media only screen and (min-width: 900px){
  
  .history-pop {
      
    .modal-wrapper {
      min-width: 300px;
      min-height: 500px;
      height: auto !important;
      display: block;
      background: transparent !important;  
    }

    .modal-wrapper .ion-page {
      background: transparent;
    }

    ion-backdrop {
      opacity: 0.4 !important;
    }
    
  }

  .token-pop {
    
    .modal-wrapper {
      min-height: 475px;
      height: auto;
      height: auto !important;
      display: block;
      background: transparent !important;  
    }

    .modal-wrapper .ion-page {
      background: transparent;
    }

    ion-backdrop {
      opacity: 0.4 !important;
    }
    
  }
}


/* Balance.page.ts - popover Component */

  ion-popover{
    ion-backdrop{
      opacity: 0.5 !important
    }
    .popover-wrapper{
      .popover-content{
        width: 50vw;
        height: 55vw;
        max-height: 150px;
        max-width: 350px;
      }
    }
  }

  @media only screen and (min-width: 601px) {
    
    ion-popover{
      ion-backdrop{
        opacity: 0.5 !important
      }
      .popover-wrapper{
        .popover-content{
          width: 50vw;
          height: 55vw;
          max-height: 135px;
          max-width: 240px;
        }
      }
    }


  }


  @media only screen and (max-width: 600px) {

    ion-popover {
      ion-backdrop  {
        opacity: 0.20 !important
      }
      .popover-wrapper{
        .popover-content{
          width: 50vw;
          height: 55vw;
          max-height: 100px;
          max-width: 250px;
        }
      }
    }

  }


/* miniterm.page.ts popover */
  .terminal-pop ion-backdrop {
    opacity: 0.4 !important;
  }
  .terminal-pop .popover-content  {
      overflow-y: hidden;
      max-height: 65px !important;
      max-width: 148px !important;
  }


  ::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff8a00), to(#da1b60));
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .25), inset -2px -2px 2px rgba(0, 0, 0, .25)
}

::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
    background: linear-gradient(to right, #201c29, #201c29 1px, #100e17 1px, #100e17)
}
