ion-item {
  --inner-padding-end: 0;
  ion-label {
    white-space: normal;
    margin-bottom: 12px;
    font-size: 1.25rem;
    font-family: manrope-bold;
    color: var(--ion-color-tertiary);
  }
}
.ios ion-item {
  ion-label {
    font-size: 1.0rem;
  }
}
ion-item.wordCountWrapper {
  padding:0;
  margin:0;
}
ion-select {
  --placeholder-opacity: 1.0;
  border: 1px solid var(--ion-color-item-border);
  background-color: var(--ion-color-inputs);
  font-family: manrope-regular;
  outline: none !important;
  outline: 1px solid #91919D;
  padding-left: 10px;
  color: #808080;
  font-size: 14px;
}
ion-select:hover {
  --background-hover: none !important;
  background: var(--ion-color-inputs) !important;
  background-color: var(--ion-color-inputs) !important;
}
ion-select::part(icon) {
  top: 50%;
  color: var(--ion-color-primary);
  opacity: 1;
}
ion-select-option {
  font-family: manrope-bold;
}
ion-input {
  color: #000;
  background-color: var(--ion-color-inputs);
  border: 1px solid #f0f0fa;
  padding-left: 10px !important;
  font-size: 0.875rem;
}
.transparentBody {
	background: none transparent !important;
	--background: none transparent !important;
}
.webscan-canvas {
 text-align: center;
 	--background: none transparent !important;
}
.input {
  font-family: manrope-light;
}
.length {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-family: manrope-light;
  font-size: 0.875rem;
  color: var(--ion-color-tertiary);
}
ion-textarea {
  color: #000;
  background: var(--ion-color-inputs);
  border: 1px solid var(--ion-color-item-border);
  padding-left: 10px!important;
  font-size: 0.875rem;
  margin-bottom: 10px;
}
ion-item.send-wrapper {
  display: flex;
  float: right;
  justify-content: right;
  align-items: flex-end;
}
button.footer {
  width: 100%;
  height: 100%;
  font-size: 1.0rem;
  text-align: center;
  text-transform: none;
  font-family: manrope-bold;
  background: transparent;
  color: #fff;
}
button.footer:focus {
  background: transparent;
  --background: transparent;
}
ion-button.send-funds {
  font-size: 0.875rem;
  height: 35px;
  width: 164px;
  --background: var(--ion-color-primary);
  text-transform: none;
  font-family: manrope-bold;
  color: #fff;
  float: right; 
  --border-radius: 0;
}
ion-button.send-funds:hover {
  --background: #346EE5;
}
div.has {
  display: flex; 
  width: 100%;
  button {
    width: 55px;
    background-color: var(--ion-color-form-buttons);
    border: 1px solid #F0F0FA;
    ion-icon {
      font-size: 1.0rem; 
      color: var(--ion-color-tertiary);
    }
  }
  button.maxAmount {
    width: 55px;
    background-color:  var(--ion-color-form-buttons);
    border: 1px solid #F0F0FA;
    color: var(--ion-color-tertiary);
  }
}
ion-grid#status {
  ion-row {
    ion-col {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

span.optional {
  font-family: manrope-light; 
  color: var(--ion-color-optional); 
  margin-right: 7px;
}