<ion-app>
<ion-header>
  <ion-toolbar class="border-b">
    <ion-buttons slot="start">
      <ion-menu-button class="menu-icon"></ion-menu-button>
    </ion-buttons>
    <ion-title class="large-text">
      Send
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isCameraOpen==false">

  <ion-grid *ngIf="tokenArr.length == 0">
    <ion-row>
      <ion-col style="display: flex; align-items:center; justify-content:center" size="12">
        <ion-label>Fetching tokens...</ion-label>
      </ion-col>
      <ion-col style="display: flex; align-items:center; justify-content:center" size="12">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card  class="webscan-canvas" *ngIf="!checkPlatform() && isWebCameraOpen">
    <ion-card-header class="medium-text">
    Scan Your Minima QR address now...
    <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
    </ion-card-header>
    <video height="240" #videoElem></video>
    <hr>
    <ion-button block="full" (click)="stopWebScanQR()">Stop Scanning</ion-button>
    <hr>
  </ion-card>

  <ion-card class="borders" *ngIf="!isWebCameraOpen && tokenArr.length > 0">
    <ion-card-header>
      Post A Transaction
      <ion-card-title>
          <ion-icon style=" font-size:1.2rem;" slot="start" name="send" class="icon-head medium-text" ></ion-icon>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-label position="fixed" class="medium-text">Token</ion-label>
          <ion-select
              interface = 'alert'
              class="medium-text input"
              [(ngModel)]="itemSelected"
              (ionChange)="onItemSelection($event)"> 
          <ion-select-option *ngFor="let token of tokenArr;" [value]="token" class="token-option">
            {{ token.token + "&mdash;"+ token.tokenid }}
          </ion-select-option>
        </ion-select>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="medium-text" position="fixed">Address</ion-label>
          <span (click)="webScanQR()" id="qrIcon"> <ion-icon alt="qrCode" src="assets/scan-outline.svg"></ion-icon></span>
          <ion-input #address class="medium-text input" name="address" [(ngModel)]="data.address" clearInput="true" placeholder="address"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="medium-text" position="fixed">Amount</ion-label>
          <ion-input #amount type="number" name="amount" class="input medium-text" [(ngModel)]="data.amount" placeholder="amount"></ion-input>
        </ion-item>
        <ion-row id="quickAmount">
          <ion-col size="3">

          </ion-col>
          <ion-col size="9" style="padding-right:2.5%">
            <ion-button class="medium-text" (click)="fillAmount('max')" size="small" fill="outline">Send Max</ion-button>
            <ion-button class="medium-text" (click)="fillAmount('half')" size="small" fill="outline">Send 1/2</ion-button>
            <ion-button class="medium-text" (click)="fillAmount('quarter')" size="small" fill="outline">Send 1/4</ion-button>
          </ion-col>
        </ion-row>
        <ion-item lines="none">
          <!-- Disabled Checkbox -->
          <ion-checkbox [(ngModel)]="messageEntry.isChecked" (ionChange)="checkboxValue($event, messageEntry.isChecked)"></ion-checkbox>
          <ion-label class="medium-text" [hidden]="messageEntry.isChecked" style="padding-left: 10px;">Message</ion-label>
          <ion-label class="medium-text" [hidden]="!messageEntry.isChecked" style="padding-left: 10px;">This message is public</ion-label>
          </ion-item>
          <ion-item [hidden]="!messageEntry.isChecked" lines="none">
              <ion-textarea 
              class="medium-text input"
              auto-grow="false"
              #message 
              [(ngModel)]="data.message" 
              placeholder="type your message..."
              maxlength="255">
              </ion-textarea>
          </ion-item>
          <ion-note *ngIf="data.message" class="length">{{ data.message.length +"/255" }}</ion-note>
      </ion-list>
        
        
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-toolbar class="border-t">
    <ion-buttons> 
      <ion-button type="button" class="action-btn medium-text" expand="block" (click)="stopCamera()"  *ngIf="isCameraOpen==true">
        Stop scanning
       </ion-button>
      <ion-button type="button" class="action-btn medium-text" expand="block" (click)="sendFunds()" *ngIf="isCameraOpen==false">
        <ion-icon name="send" slot="start"></ion-icon> Send
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
</ion-app>

