<ion-app>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">
      Send
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isCameraOpen==false">

  <ion-card class="webscan-canvas" *ngIf="!checkPlatform() && isWebCameraOpen">
    <ion-card-header>

    Scan Your Minima QR address now...
    <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
    </ion-card-header>

    <video height="240" #videoElem></video>
    <hr>
    <ion-button block="full" (click)="stopWebScanQR()">Stop Scanning</ion-button>
    <hr>
  </ion-card>

  <ion-card *ngIf="!isWebCameraOpen">
    <ion-card-header>
      <ion-card-title>
          <ion-icon style=" font-size:2.0rem;" slot="start" name="send" class="icon-head" ></ion-icon>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <ion-item>
          <ion-label position="floating">Tokens</ion-label>
          <ion-select
              interface = 'alert'
              class="token-select"
              [(ngModel)]="itemSelected"
              (ionChange)="onItemSelection($event)"> 
          <ion-select-option *ngFor="let token of tokenArr;" [value]="token" class="token-option">
          
            <ion-text *ngIf="token.tokenid === '0x00'">
            {{ token.token +" {"+  token.tokenid + "}" }} 

            </ion-text>

            <ion-text *ngIf="token.tokenid !== '0x00'">
            {{ token.token +" {"+ token.tokenid.substring(0, 12)+"...}"  }} 
            </ion-text>
          </ion-select-option>

        </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Address</ion-label>
          <ion-input #address name="address" [(ngModel)]="data.address" clearInput="true"></ion-input>
          
        </ion-item>
        <ion-item lines="none" slot="end" [hidden]="checkPlatform()">
          <ion-button type="button" class="util-btns" size="small" (click)="webScanQR()">
            <ion-label slot="start" style="padding:2px">SCAN QR</ion-label>
            <ion-icon  name="qr-scanner" ></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item lines="none" slot="end" [hidden]="!checkPlatform()">
          <ion-button type="button" class="util-btns" size="small" (click)="scanQR()">
            <ion-label slot="start" style="padding:2px">SCAN QR</ion-label>
            <ion-icon  name="qr-scanner" ></ion-icon>
          </ion-button>
          <ion-button type="button" size="small" class="util-btns" (click)="pasteFromClipboard()">
            <ion-label slot="start" style="padding:5px">CLIPBOARD</ion-label>
            <ion-icon name="clipboard" ></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Amount</ion-label>
          <ion-input #amount type="number" name="amount" [(ngModel)]="data.amount"></ion-input>
        </ion-item>
        <ion-item lines="none">
        <!-- Disabled Checkbox -->
        <ion-checkbox [(ngModel)]="messageEntry.isChecked" (ionChange)="checkboxValue($event, messageEntry.isChecked)"></ion-checkbox>
        <ion-label [hidden]="messageEntry.isChecked"style="padding-left: 10px;">Message</ion-label>
        <ion-label [hidden]="!messageEntry.isChecked"style="padding-left: 10px;">This message is public</ion-label>
        </ion-item>
        <ion-item [hidden]="!messageEntry.isChecked">
            <ion-textarea 
            #message 
            [(ngModel)]="data.message" 
            placeholder="type your message..."
            maxlength="255"
            autogrow="true"></ion-textarea>
            
        </ion-item>
        
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons> 
      <ion-button class="action-btn" expand="block" (click)="stopCamera()"  *ngIf="isCameraOpen==true">
        Stop scanning
       </ion-button>
      <ion-button class="action-btn" expand="block" (click)="sendFunds()" *ngIf="isCameraOpen==false">
        <ion-icon name="send" slot="start"></ion-icon> Send
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
</ion-app>

