ion-card {
  --background: var(--ion-background-color, #f2f2f2);
}
ion-footer ion-toolbar ion-buttons ion-button{
  width: 100%;
}
.icon-head{
  color: #1FB4CD;
}
.util-btns {
  padding: 3px;
  text-align: center;
  // padding: 1px;
  margin: 2px;
}
.action-btn {
  height: 72px;
}
.action-btn:hover {
  height: 72px !important; 

    ion-icon {
      font-size: large;
    }
}
.token-select {
  font-family: Aeonik;
  color: #1FB4CD;
  font-weight: bolder;
  max-width: 100% !important;
  width: 100% !important;
  padding-left: 0 !important;
}
.token-select .alert-wrapper.sc-ion-alert-md {
  max-width: 50% !important;
}
.transparentBody {
	background: none transparent !important;
	--background: none transparent !important;
}

.webscan-canvas {
 text-align: center;
 	--background: none transparent !important;
}
