ion-card-content {
  background: var(--ion-card-color);
}
ion-card-header {
  --color: var(--ion-text-color,#000);
}

ion-list ion-item {
  margin-left: 10px;
  margin-right: 15px;
}

ion-item ion-label {
  white-space: normal;
  margin-bottom: 2%;
  font-size: 20px;
  font-family: manrope-bold;
  color: var(--ion-color-color);
}
ion-item.wordCountWrapper {
  padding:0;
  margin:0;
}
ion-select {
  outline: none !important;
  border: 1px solid #f0f0fa;
  font-family: manrope-regular;
  background-color: var(--ion-color-inputs);
  outline: 1px solid #91919D;
  font-size: 12px;
  padding-left: 2%!important;
  --placeholder-opacity: 0.7;
  color: #808080;
}
ion-select:hover {
  background: var(--ion-color-inputs) !important;
  background-color: var(--ion-color-inputs) !important;
  --background-hover: none !important;
}
ion-select::part(icon) {
  top: 50%;
  color: var(--ion-color-primary);
  opacity: 1;
}
ion-select-option {
  font-family: manrope-bold;
}
ion-input {
  font-size: 12px;
  color: #000;
  background-color: var(--ion-color-inputs);
  border: 1px solid #f0f0fa;
  padding-left: 2% !important;
}
.transparentBody {
	background: none transparent !important;
	--background: none transparent !important;
}
.webscan-canvas {
 text-align: center;
 	--background: none transparent !important;
}
ion-footer {
  width: 100%;
  height: 90px;
  background-color: #001C32;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-toolbar {
  --background: var(--ion-m-background);
}
.input {
  font-family: manrope-light;
}
.length {
  display: flex;
  align-items: baseline;
  font-family: manrope-light;
  margin-left: 27px;
  font-size: 12px;
}
ion-textarea {
  color: black!important;
  background: var(--ion-color-inputs);
  border: 1px solid #f0f0fa;
  padding-left: 2%!important;
  font-size: 12px;
  margin-bottom: 1%;
}

ion-item.error {
  display: flex;
  align-items: center;
  justify-content: center;
}
ion-item.error span {
  color: var(--ion-color-tertiary);
  display: inline-block;
  vertical-align: middle;
}
ion-note.error-message ion-icon {
  color: var(--ion-color-secondary);
  font-size: 1.0rem;
  display: inline-block;
  vertical-align: middle;
}
ion-note.error-message { 
  display: block;
}
button.footer {
  width: 100%;
  height: 100%;
  font-size: 16px;
  text-align: center;
  text-transform: none;
  font-family: manrope-bold;
  background: transparent;
  color: #fff;
}
button.footer:focus {
  background: transparent;
  --background: transparent;
}
ion-button.send-funds {
  height: 35px;
  width: 164px;
  --background: var(--ion-color-primary);
  text-transform: none;
  font-family: manrope-bold;
  color: #fff;
  float: right; 
  margin-right: 26px;
  --border-radius: 0;
}
ion-button.send-funds:hover {
  --background: #346EE5;
}