<!DOCTYPE html>
<html lang="en">
<body>
  <div>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <title>Splash</title>
    
    <?xml version="1.0" encoding="utf-8"?>
    <!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 205.9 185.7" style="enable-background:new 0 0 205.9 185.7;" xml:space="preserve">
    <style type="text/css">
      .st0{fill:#231F20;}
      .st1{fill:#FF671D;}
      .st2{fill:#00ABC7;}
      .st3{fill:#929396;}
    </style>
    <g>
      <polygon class="st0" points="99.8,41.3 144.3,41.3 178.8,185.7 134.3,185.7"/>
      <polygon class="st0" points="82.8,16.5 111.7,185.7 67.2,185.7 38.3,16.5"/>
      <polygon class="st1" points="0,185.7 44.5,185.7 82.8,16.5 42,0 	"/>
      <polygon class="st2" points="67.2,185.7 111.7,185.7 144.3,41.3 103.5,24.9"/>
      <polygon class="st3" points="165.1,49.7 134.3,185.7 178.8,185.7 205.9,66.2"/>
    </g>
    </svg>
  </div>
</body>
</html>
