<ion-app>
  <ion-header translucent="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button class="menu-icon"></ion-menu-button>
        </ion-buttons>
        
         <ion-title *ngIf="!ios" class="large-text">History</ion-title>

        <ion-segment [(ngModel)]="segment" (ionChange)="updateHistory()" *ngIf="ios" color="primary">
          <ion-segment-button (ionChange)="updateHistory()" value="all">
            <ion-label>All</ion-label>
          </ion-segment-button>
          <ion-segment-button  value="saved">
            <ion-label>Saved</ion-label>
          </ion-segment-button>
        </ion-segment>

        <ion-segment [(ngModel)]="segment" (ionChange)="updateHistory()" *ngIf="!ios" color="tertiary">
          <ion-segment-button (ionChange)="updateHistory()" value="all">
            <ion-label>All</ion-label>
          </ion-segment-button>
          <ion-segment-button value="saved">
            <ion-label>Saved</ion-label>
          </ion-segment-button>
        </ion-segment>

    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">History</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-list #historyList>
      <ion-item-group sticky>
        <ion-label>
          
        </ion-label>
      </ion-item-group>

      <ion-item-sliding *ngFor="let txn of transactions" #slidingItem [attr.track]="">
        <ion-item routerLink="/view-txn" routerDirection="forward">
          
          <ion-row>
            <ion-col size="1" size-md="1" size-lg="1" size-s="1" size-xs="0">
              <img style="width: 25px;" src="./assets/sent.svg" alt="send-receive">
            </ion-col>

            <ion-col size="2" size-md="2" size-lg="2" size-s="2" size-xs="2">
              <div class="align-middle date">
                <p class="small-text">
                  {{ txn.txpow.header.date.substring(4, 7) }} 
                </p>
                <h5 class="small-text">
                  {{ txn.txpow.header.date.substring(8, 10) }}
                </h5>
              </div>
            </ion-col>

            <ion-col *ngIf="!txn.values[0].name.name  && txn.values[0].name !== 'Create Token'">
              <span *ngIf="txn.values[0].amount.substring(0,1) == '-'"> 
                <h5 class="medium-text">
                  Sent Minima
                </h5>
              </span>
      
              <span class="medium-text" *ngIf="txn.values[0].amount.substring(0,1) !== '-'">
                <h5 class="medium-text">
                  Received Minima
                </h5>
              </span>
            </ion-col>
      
            <ion-col *ngIf="txn.values[0].name.name" size="4">
              <span class="medium-text" *ngIf="txn.values[0].amount.substring(0,1) == '-'"> 
                <h5 class="medium-text">
                  Sent {{ txn.values[0].name.name }}
                </h5>
              </span>
      
              <span class="medium-text" *ngIf="txn.values[0].amount.substring(0,1) !== '-'">
                <h5 class="medium-text">
                  Received {{ txn.values[0].name.name }}
                </h5>
              </span>
            </ion-col>

            <ion-col *ngIf="!txn.values[0].name.name && txn.values[0].name === 'Create Token'">
                <h5 class="medium-text" style="margin-top:8px; margin-bottom:0;">
                  Created a Token
                </h5>
                <p class="small-text" style="margin:0;opacity:0.8;"> &mdash; {{ txn.txpow.body.txn.tokengen.token }}</p>
            </ion-col>

            <ion-col *ngIf="txn.values[0].name !== 'Create Token'">
              <span *ngIf="txn.values[0].amount.substring(0,1) == '-'"> 
                <h5 class="medium-text">{{ txn.values[0].amount}}</h5>
              </span>
      
              <span *ngIf="txn.values[0].amount.substring(0,1) !== '-'">
                <h5 class="medium-text">{{ "+"+ txn.values[0].amount}}</h5>
              </span>
            </ion-col>

            <ion-col *ngIf="txn.values[0].name === 'Create Token'">
              <h2 class="medium-text" style="margin-top:8px; margin-bottom:0;">{{ "+" + txn.txpow.body.txn.tokengen.total }}</h2>
              <p class="small-text" style="margin:0;opacity:0.8;"> {{ "-" + txn.values[0].amount + " MINI"}}</p>
            </ion-col>

          </ion-row>

        </ion-item>
        <ion-item-options>
          <ion-item-option color="success" (click)="saveItem(slidingItem, txn)" *ngIf="segment === 'all'">
            Save
          </ion-item-option>
          <ion-item-option color="danger" (click)="removeItem(slidingItem, txn, 'Remove Transaction.')" *ngIf="segment === 'saved'">
            Remove
          </ion-item-option>
          
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>


    <ion-list-header [hidden]="transactions.length > 0">
      No Activities Yet
    </ion-list-header>


</ion-content>
  </ion-app>