ion-card-header {

    --background: var(--ion-background-color, #f2f2f2);
    background: linear-gradient(to bottom,  var(--ion-background-color, #fff) 0%, var(--ion-background-color, #f2f2f2) 100%) !important;
    
}
ion-segment {
    padding-left: 0;
    padding-right: 0;
}
.ios ion-title {
    font-size: 30px !important;
}
ion-toolbar {
    --padding-top: 15px;
}
.ios ion-toolbar {
    --padding-top: 30px;
    --padding-left: 10px;
    --padding-right: 5px;
    --padding-bottom: 5px;

}
.ios ion-segment {
    padding-top: 5px;
}

ion-segment {
    margin-top: 5px;
    padding: 0px 10px 0px 10px;
}
ion-card-content ion-text {
    margin-top: 10px;
}


ion-row:hover {
    transform: scale(0.99);
    ion-item {
        background: var(--ion-background-color, #f2f2f2);
    }

}
ion-item {
    border-left: 1px solid var(--ion-background-color, rgba(113,113,114, 0.7));
}
ion-row {
    width: 100%;

}

ion-toolbar {
    --background: var(--card-header-color);
}

h5 {
    font-weight: 600;
    opacity: 0.8;
}
ion-col img {
    display:block;
    height:100%;
}
ion-col {
    padding: 0 !important;
}
ion-row {
    padding: 2px;
}

#month {
    font-weight: 600;
    opacity: 0.7;
}
#day {
    margin: 0;
    font-weight: 600;
    opacity: 0.7;
}
#time {
    margin: 0;
    opacity: 0.7;
    font-weight: 120;
}

#txnType h5 {
    margin: 0 !important;
}

ion-content {
    overflow-y: scroll;
}