<ion-app>
  <ion-header class="page-header ion-no-border">
    <ion-toolbar>
         <ion-title class="large-text">
          <ion-item id="title" lines="none" class="ion-no-padding">
            <ion-icon 
            class="menu-btn" 
            (click)="openMenu()" 
            src="assets/menuIcon.svg"></ion-icon>
            History
          </ion-item>
          <ion-item 
          id="subtitle" 
          class="breadcrumb ion-no-padding" 
          lines="none" 
          *ngIf="$history.length > 0">
            Transaction history
          </ion-item>
        </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list 
    class="ion-no-padding" 
    #historyList  
    lines="none">
        <ion-item
        *ngFor="let txn of $history"
        class="ion-no-padding no-ripple" 
        [routerLink]="['view-txn/'+txn.txpow.txpowid]" 
        routerDirection="forward"
        lines="none">
            <ion-avatar slot="start">
              <ion-icon
              style="fill: var(--ion-color-secondary) !important"
              *ngIf="txn.values[0]?.amount.substring(0,1) === '-' && !txn.txpow.body.txn.tokengen" 
              class="icon" 
              src="assets/sendIcon.svg" 
              alt="send-receive"></ion-icon>
              <ion-icon 
              style="fill:var(--ion-color-primary) !important"
              *ngIf="txn.values[0]?.amount.substring(0,1) !== '-' && !txn.txpow.body.txn.tokengen" 
              class="icon" src="assets/receiveIcon.svg" 
              alt="send-receive"></ion-icon>
              <ion-icon 
              style="fill: var(--ion-color-tertiary) !important"
              *ngIf="txn.txpow.body.txn.tokengen" 
              class="icon"
              src="assets/createIcon.svg" 
              alt="send-receive"></ion-icon>
            </ion-avatar>

            <div class="transaction-type">
              <div class="name">
                <h6 
                  *ngIf="!txn.txpow.body.txn.tokengen && !txn.values[0]?.name?.name">
                          {{ txn.values[0]?.name }}</h6>
                          <h3 
                  *ngIf="!txn.txpow.body.txn.tokengen && txn.values[0]?.name?.name">
                          {{ txn.values[0]?.name?.name }}</h3>
                  <h6 *ngIf="txn.txpow.body.txn.tokengen">{{ txn.txpow.body.txn.tokengen.token }}</h6>
  
                  <h6 *ngIf="!txn.txpow.body.txn.tokengen && !txn.values[0]">Transaction: {{ txn.txpow.txpowid }}</h6>
              </div>

              <div 
              *ngIf="!txn.txpow.body.txn.tokengen" 
              class="amount">
                <span *ngIf="txn.values[0] && txn.values[0]?.amount?.substring(0,1) === '-'"> 
                  <h6 class="minima-numeric left">{{ txn.values[0]?.amount}}</h6>
                </span>
                <span *ngIf="txn.values[0] && txn.values[0]?.amount?.substring(0,1) !== '-'">
                  <h6 class="minima-numeric left">{{ "+"+ txn.values[0]?.amount}}</h6>
                </span>
              </div>
              <div 
              *ngIf="txn.txpow.body.txn.tokengen"
              class="amount">
              <span class="minima-numeric left">
                <h6>{{"+" + txn.txpow.body.txn.tokengen.total}}</h6>
                <p>{{"-"+txn.values[0]?.amount+" Mini"}}</p>
              </span>
              </div>
            </div>


          <div slot="end" class="date">
            <h6 class="ion-no-padding ion-no-margin">
              {{ txn.day }} {{ txn.month }} {{ txn.year }}
            </h6>
            <p class="ion-no-padding ion-no-margin ion-text-right">{{ txn.time }}</p>
          </div>

        </ion-item>
    </ion-list>

    <ion-grid *ngIf="$history.length == 0">
      <ion-row>
        <ion-col class="center prompt" size="12">
          <ion-label>{{ prompt }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>

  <app-footer></app-footer>
</ion-app>