// ion-grid, ion-row, ion-col 
ion-grid {
    --ion-grid-padding: 0;
    --ion-grid-column-padding: 0;
    --ion-grid-width-xl: 360px;
    --ion-grid-width-lg: 360px;
    --ion-grid-padding-md: 90px;
}

ion-card-header {

    --background: var(--ion-background-color, #f2f2f2);
    background: linear-gradient(to bottom,  var(--ion-background-color, #fff) 0%, var(--ion-background-color, #f2f2f2) 100%) !important;
    
}

ion-card-content {
    width: 100%;
    text-align: center;    
}
ion-segment {
    margin-top: 5px;
    padding: 0px 10px 0px 10px;
}
ion-card-content ion-text {
    margin-top: 10px;
}
ion-row {
    padding: 2px;
} 

ion-grid {
    padding: 0px;
}
ion-row:hover {
    background: var(--ion-background-color, #f2f2f2);
}
.list-md {
    padding: 0px 0px 0px 0px !important;
}

/** @@@@@@ TXN Details @@@@@@ **/
.date {
    display: block;
}
.amount {
    margin-left: 120px;
}
.ios .amount {
    margin-left: 0px;
}
.md .amount {
    margin-left: 0px;
}
.activity {
    width: 100%;
    border-left: 2px solid #07ABC8;
}
.activity-tokens {
    width: 100%;
    border-left: 2px solid rgb(109, 204, 146);
}
.divider {
    padding: 5px;
}
.activity-skeleton {
    width: 100%;
    border-left: 2px solid #f2f2f2;
}
ion-row {
    width: 100%;
}
.activity div h1 {
    font-size: 14px;
    text-transform: uppercase;
}
#amount {
    font-weight: 500;
    font-size: 18px;
}
#month {
    font-weight: 700;
    font-size: 20px;
    color: #00AAC7;
}
#day {
    font-weight: 700;
    font-size: 22px;
    color: #FF671D;
}
#token-name {
    font-weight: 700;
}
.p-tokenid {
    font-weight: bolder;
    font-size: 18px;
}   
.amount-p {
    font-weight: bolder;
    font-size: 20px;
}
.amount-h2 {
    font-weight: bolder;
    font-size: 20px;
}

.msg-details {
    font-size: 16px;
    white-space: normal !important;
}
#token-name {
    font-weight: 300;
    color: #b3b3b3;
}
#mini-amnt {
    font-weight: 300;
    font-size: 12px;
    color: #b3b3b3;
}
.negative {
    color: #F07473;
    font-weight: 500;
}
.positive {
    color: #48D2D3;
    font-weight: 800;
}

/** @@@@@@@@@@@@@@@@@ iOS @@@@@@@@@@@@@@@@@@@ */
.ios ion-card-content {
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}
.ios #month {
    font-size: 13px;
    color: #00AAC7;
}
.ios #day {
    font-size: 12px;
    color: #FF671D;
}

.ios .h2-type {
    font-size: 14px;
}
.ios .p-tokenid {
    font-size: 12px;
}   
.ios .amount-p {
    font-size: 14px;
}
.ios .amount-h2 {
    font-size: 14px;
}

/** @@@@@@@@@@@@@@@@@ Material Design @@@@@@@@@@@@@@@@@@@ */
.md ion-card-content {
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}
.md #month {
    font-size: 14px;
    color: #00AAC7;
}
.md #day {
    font-size: 12px;
    color: #FF671D;
}

.md .h2-type {
    font-size: 14px;
}
.md .p-tokenid {
    font-size: 12px;
}   
.md .amount-p {
    font-size: 14px;
}
.md .amount-h2 {
    font-size: 14px;
}
.md .seg {
    font-size: 12px;
}

.no-activity-item {
    padding-left: 2%;
}



