ion-card-header {
    --background: var(--ion-background-color, #f2f2f2);
}
ion-segment {
    margin-top: 10px;
}
ion-card-content ion-text {
    margin-top: 10px;
}
.list-md {
    padding: 0px 0px 0px 0px !important;
}

.date {
    display: block;
}
.amount {
    margin-left: 120px;
}
.ios .amount {
    margin-left: 0px;
}
.md .amount {
    margin-left: 0px;
}
.activity {
    width: 90%;
    left: 5%;
    right: 5%;
}
.activity:hover{
    background-color: #d8dfe6 !important;
}
.activity:hover {
    background-color: slategray;
    box-shadow: inset 0px 0px 0px 1px red;
}
.activity div h1 {
    font-size: 14px;
    text-transform: uppercase;
}

.amount {
    text-align: center;
}

#month {
    font-size: 20px;
    color: #00AAC7;
}
#day {
    font-size: 22px;
    color: #FF671D;
}

.h2-type {
    font-size: 20px;
}
.p-tokenid {
    font-size: 18px;
}   
.amount-p {
    font-size: 20px;
}
.amount-h2 {
    font-size: 20px;
}

.category-seg {
    padding: 0px 40px 0px 40px;
}

/** @@@@@@@@@@@@@@@@@ iOS @@@@@@@@@@@@@@@@@@@ */
.ios ion-card-content {
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}
.ios #month {
    font-size: 13px;
    color: #00AAC7;
}
.ios #day {
    font-size: 12px;
    color: #FF671D;
}

.ios .h2-type {
    font-size: 14px;
}
.ios .p-tokenid {
    font-size: 12px;
}   
.ios .amount-p {
    font-size: 14px;
}
.ios .amount-h2 {
    font-size: 14px;
}

/** @@@@@@@@@@@@@@@@@ Material Design @@@@@@@@@@@@@@@@@@@ */
.md ion-card-content {
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}
.md #month {
    font-size: 14px;
    color: #00AAC7;
}
.md #day {
    font-size: 12px;
    color: #FF671D;
}

.md .h2-type {
    font-size: 14px;
}
.md .p-tokenid {
    font-size: 12px;
}   
.md .amount-p {
    font-size: 14px;
}
.md .amount-h2 {
    font-size: 14px;
}
.md .seg {
    font-size: 12px;
}

.no-activity-item {
    padding-left: 2%;
}

