<ion-app>
<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button class="menu-icon"></ion-menu-button>
    </ion-buttons>

    <ion-title class="large-text">
      Settings
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)= "presentQuitAlert()">
          <ion-icon name="power" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
    <form>
      <ion-item [hidden]="true">
        <ion-icon slot="start" name="link" style="padding: 10px;"></ion-icon>
        <span class="medium-text" position="floating" color="primary">Host</span>
        <ion-input name="host" [(ngModel)]="host"></ion-input>
      </ion-item>
    </form>
   
    <ion-item lines="full">
      <ion-icon slot="start" name="moon" style="padding: 10px;"></ion-icon>
      <span class="medium-text">Night Mode</span>
      <ion-toggle  slot="end" #darkToggle [(ngModel)]="toggleValue" (ionChange)="checkToggle()"></ion-toggle>
    </ion-item>

    <ion-item lines="none">
      <ion-icon slot="start" name="exit" style="padding: 10px;"></ion-icon>
      <span class="hide-chckbox medium-text">Hide Welcome Screen Overlay</span>
      <ion-toggle  slot="end" color="primary" [(ngModel)]="overlayHidePref" (ionChange)="checkOverlayToggle()"></ion-toggle>
    </ion-item>
    
</ion-content>
</ion-app>
