ion-card {
    border-radius: 30px;
    background-color: #FFFFFF;

}
ion-label {
    font-style: oblique;
}
ion-chip {
    background-color: transparent;
}
ion-footer ion-toolbar ion-buttons ion-button{
    width: 100%;
 }
ion-icon {
    padding: 5px;
}
.action-btn {
    height: 40px;
}
.action-btn:hover {
    height: 50px;
}
