ion-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  ion-icon {
    font-size: 1.5rem;
  }
}
ion-list {
  ion-list-header {
    background-color: #F9F9FE;
    color: var(--ion-color-primary);
    font-family: manrope-bold;
    padding-left: 14px;
    font-size: 1.0rem;
  }
  ion-item {
    --background: #F9F9FE;
    border-bottom: 1px solid var(--ion-color-item-border);
    color: #001C32;
    font-size: 0.75rem;
    cursor: pointer;
    input {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
  ion-item:hover {
    --background: #F0F0FA;
  }
}

.ios ion-list {
  ion-list-header {
    font-size: 1.0rem;
  }
}