ion-card {
    border-radius: 30px;
    
    background-color: #FFFFFF;
    border-top: 3px solid #06AAC7;
    border-bottom: 3px solid #06AAC7;
}
ion-label {
    font-style: oblique;
}
ion-chip {
    background-color: transparent;
}
