.transparentBody {
    --background: none transparent;
  }

// ion-app.transparentBody ion-nav{opacity:0}

// ion-app.transparentBody, ion-app.transparentBody ion-content, ion-app.transparentBody .nav-decor {
	 
// 	--background: none transparent !important;
//   }

ion-card {
  border-radius: 15px;
}
ion-footer ion-toolbar ion-buttons ion-button{
  width: 100%;
}
.icon-head{
  color: #1FB4CD;
}
.util-btns {
  padding: 3px;
  text-align: center;
  // padding: 1px;
  margin: 2px;
}
.action-btn {
  height: 40px;
}
.action-btn:hover {
  height: 50px !important; 
}
.token-select {
  font-family: Aeonik;
  color: #1FB4CD;
  font-weight: bolder;
}
