<ion-app>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">
      Send
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isCameraOpen==false">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-item lines="none">
          <ion-icon style=" font-size:2.0rem;" slot="start" name="send" class="icon-head" ></ion-icon>
        </ion-item>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <ion-item>
          <ion-label position="floating">Tokens</ion-label>
          <ion-select 
              class="token-select"
              name="token"
              cancelText="Dismiss"
              okText="Ok"
              [(ngModel)]= "data.tokenid"
              placeholder="Select your token">
            <ion-select-option  *ngFor="let token of tokenArr" [value]="token.tokenid">
              {{ token.token  + '->' + token.id  }} 
            </ion-select-option>
        </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Address</ion-label>
          <ion-input name="address" [(ngModel)]="data.address"></ion-input>
          
        </ion-item>
        <ion-item lines="none" slot="end">
          <ion-button type="button" class="util-btns" size="small" (click)="scanQR()">
            <ion-label slot="start" style="padding:2px">SCAN QR</ion-label>
            <ion-icon  name="qr-scanner" ></ion-icon>
          </ion-button>
          <ion-button type="button" size="small" class="util-btns" (click)="pasteFromClipboard()">
            <ion-label slot="start" style="padding:5px">CLIPBOARD</ion-label>
            <ion-icon name="clipboard" ></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Amount</ion-label>
          <ion-input type="number" name="amount" [(ngModel)]="data.amount"></ion-input>
        </ion-item>
    </ion-card-content>
    
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons> 
      <ion-button class="action-btn" expand="block" (click)="stopCamera()"  *ngIf="isCameraOpen==true">
        Stop scanning
       </ion-button>
      <ion-button class="action-btn" expand="block" (click)="sendFunds()" *ngIf="isCameraOpen==false">
        <ion-icon name="send" slot="start"></ion-icon> Send
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
</ion-app>