@media screen and (max-width: 320px) {
    p {
        font-size: 10px;
    }
}

.send-slide {
  background-color: #FF671E;
}

ion-card {
    --background: var(--ion-background-color, #f2f2f2);

}

ion-footer ion-toolbar ion-buttons ion-button{
    width: 100%;
 }

 .confirmed-label{
     margin: auto;
     font-size: 1.0rem;
     font-weight: 300;
     white-space: normal;
 }
 .confirmed-amount {
    color: #00AAC7;
    font-size: 1.0rem;
    font-family: 'Aeonik-bold';
    white-space: normal;
    text-align: right;
 }
 .unconfirmed-amount {
     font-size: 1.0rem;
     font-family: 'monospace';
     white-space: normal;
     color: #9494b8;
     text-align: right;
 }
 .logo-names {
     font-size: 1.0rem;
     font-weight: 300;
     text-align: left;
     
 }

 .icon-head{
    color: #1FB4CD;
 }
 .action-btn {
   height: 72px;
 }
  .action-btn:hover {
    height: 72px;

    ion-icon {
      font-size: large;
    }
  }

  .balance-token {
      font-size: 1.5rem;
  }
  .balance-tokenname {
   position: absolute;
   font-family: 'Aeonik-bold' ;
   text-transform: uppercase;
   padding-top: 6px;
   padding-left: 2px;
  }

  /** SKELETON CSS */
  .wrapper {
    width: 250px;
    overflow: hidden;
  }
  .skeleton-icon {
    size: 0.5rem;
  }
  .skeleton-name {
    width: 20%;
  }
  .skeleton-amount {
    width: 5%;
  }

  //iOS 
  .ios .skeleton-amount {
    margin-left: 10%;
  }
  .ios .skeleton-name {
    width: 20%;
  }

ion-grid:hover {
  background: var(--ion-background-color, #f2f2f2);
}
ion-row {
  border-left: 2px solid #FF671E;
  border-right: 2px solid #1FB4CD;
}

@media screen and (max-width: 900px) {
    .skeleton-icon {
      size: 0.5rem;
    }
    .skeleton-name {
      width: 20%;
    }
    .skeleton-amount {
      margin-left: 90%;
      width: 5%;
    }
}
 
  .balance {
    font-size: 12px;
  }