<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="menu-icon"></ion-menu-button>
    </ion-buttons>
    <ion-title class="large-text">
      Balance
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content class="ion-padding">
  <ion-card>
      <ion-card-header>
        Your tokens
      </ion-card-header>
  <ion-card-content>

  <div *ngIf="tokenArr && tokenArr.length > 0">
  <ion-grid *ngFor="let token of tokenArr;">
      <ion-item-sliding #slidingItem>
        <ion-item-options side="start">
        <ion-item-option id="receive" class="small-text" (click)="closeSliding(slidingItem)" routerLink="/my-address">Receive</ion-item-option>
        <ion-item-option id="send" class="small-text" (click)="sendTokenOver(slidingItem, token.tokenid)">Send</ion-item-option>
        </ion-item-options>
  <!-- TOKENS ONLY -->
  <ion-item lines="full" routerLink="/view-tokens/{{ token.tokenid }}">

    <ion-row>
    <ion-col sizeLg="2" sizeMd="2" sizeSm="1" sizeXl="2" sizeXs="12" align-self-center>
      <ion-avatar>
        <img *ngIf="token.icon" alt="Avatar" class="balance-token" src="{{ token.icon }}">
        <img *ngIf="!token.icon || token.icon.length <= 0" alt="Avatar" class="balance-token" src="assets/icon/icon.png">
      </ion-avatar>
    </ion-col>

    <ion-col sizeLg="7" sizeMd="8" sizeSm="8" sizeXl="8" sizeXs="12" align-self-center> 
      <span class="medium-text"> {{ token.token  }} &#8212; </span> 
      <span class="abbr-name small-text"> {{ token.token.substring(0,3) }} </span>
    </ion-col>

    <ion-col id="balance" sizeLg="3" sizeMd="2" sizeSm="3" sizeXl="2" sizeXs="12" align-self-center> 

      <span *ngIf="token.unconfirmed != 0;" class="confirmed-amount medium-text">{{ token.sendable + "/" + token.unconfirmed  }}</span>
      <span *ngIf="token.unconfirmed == 0;" class="confirmed-amount medium-text">{{ token.sendable }} </span>

    </ion-col> 
  </ion-row>
  
  </ion-item>
          <ion-item-options side="end">
          <ion-item-option class="small-text" (click)="presentPopover(slidingItem, $event, token.tokenid)">Token ID</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
    </ion-grid> 
  </div>

  <!-- Balance Skeleton View -->
  <div *ngIf="tokenArr.length == 0">

    <ion-grid>
      <ion-item-sliding #slidingItem>
        <ion-item-options side="start">
        <ion-item-option id="receive" class="small-text"><ion-skeleton-text animated style="width: 10%"></ion-skeleton-text></ion-item-option>
        <ion-item-option id="send" class="small-text"><ion-skeleton-text animated style="width: 10%"></ion-skeleton-text></ion-item-option>
        </ion-item-options>
  <!-- TOKENS ONLY -->
  <ion-item lines="full">

    <ion-row>
    <ion-col sizeLg="2" sizeMd="2" sizeSm="1" sizeXl="2" sizeXs="12" align-self-center>
      <ion-avatar>
        <img alt="Avatar" class="balance-token" src="assets/icon/icon.png">
      </ion-avatar>
    </ion-col>

    <ion-col sizeLg="6" sizeMd="8" sizeSm="8" sizeXl="7" sizeXs="12" align-self-center> 
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </ion-col> 
    <ion-col sizeLg="3" sizeMd="2" sizeSm="3" sizeXl="2" sizeXs="12" align-self-center> 
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </ion-col> 
    
  </ion-row>
  
  </ion-item>
          <ion-item-options side="end">
          <ion-item-option class="small-text">Token ID</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
    </ion-grid> 

  </div>


  </ion-card-content>
  </ion-card>


  </ion-content>

  

  <ion-footer>
    <ion-toolbar>
      <ion-buttons>
        <ion-button class="action-btn medium-text" shape="" expand="block" type="button" (click)="giveMe50()">
          <ion-icon name="cash" slot="start"></ion-icon> Gimme 50
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>