ion-toolbar {
  --background: var(--ion-m-background);
  font-family: manrope-bold;
  color: var(--ion-color-tertiary);
  ion-title {
    padding-top: 5%;
    font-size: 1.2rem;
  }
  ion-buttons ion-menu-button {
    font-size: 1.0rem;
    color: var(--ion-color-tertiary);
  }
}
#tutorial-card:hover {
  transform: scale(1.001);
}
ion-card-content {
  background: var(--ion-m-background);
}
ion-card-content p {
  color: var(--ion-color-tertiary);
}
ion-card-header {
  font-family: manrope-bold;
  color: var(--ion-color-tertiary);
  background-color: var(--ion-gray-two);
  background: var(--ion-m-background);
}
ion-footer ion-toolbar ion-buttons ion-button {
    width: 100%;
    height: 47px;
    text-transform: none;
    font-family: manrope-bold;
    color: var(--ion-color-tertiary);
 }
#dismiss {
  cursor: pointer;
  right: 2.5%;
  z-index: 1;
  font-family: manrope-bold;
  font-size: 1.5rem;
  position: absolute;
  color: #a63f44;
}
#settings {
  margin-right: 5%;
  cursor: pointer;
}
ion-card-title {
  display: flex;
  align-items: center;
  justify-content: left;
  
}
ion-avatar {
  display: inline !important;
  margin-right: 2.5%;
}
ion-avatar img {
  display: inline;
  width: 75px;
  height: inherit;
}
ion-badge#tip {
  white-space: normal;
  align-self: center;
  justify-content: center;
  width: 100%;
  font-size: 0.8rem;
  width: 90%;
  margin-left: 5%;
  margin-right: 2%;
}
ion-badge#tip ion-icon#info {
  font-size: 1.5rem;
  margin-left: 3%;
}
ion-badge#tip ion-col span#dismiss {
  font-size: 1.5rem;
  cursor: pointer;
  color: #a63f44;
}
.center {
  right: 2%;
  align-items: center !important;
  justify-content: center !important;
  display: inline-flex !important;
  text-align: center !important;
}
