ion-toolbar {
  --background: var(--ion-m-background);
  font-family: manrope-bold;
  color: var(--ion-color-tertiary);
  ion-title {
    font-size: 1.0rem;
  }
  ion-buttons ion-menu-button {
    font-size: 1.0rem;
    color: var(--ion-color-tertiary);
  }
}
ion-row {
  width: 100%;
}
#tutorial-card:hover {
  transform: scale(1.01);
}
ion-card-content {
  background: var(--ion-m-background);
}
ion-card-header {
  font-family: manrope-bold;
  color: var(--ion-color-tertiary);
  background-color: var(--ion-gray-two);
  background: var(--ion-m-background);
}
ion-footer ion-toolbar ion-buttons ion-button {
    width: 100%;
    height: 58px;
    text-transform: none;
    font-family: manrope-bold;
 }
#dismiss {
  cursor: pointer;
  position: absolute;
  right: 2.5%;
  z-index: 99999;
  font-size: 2.0rem;
}
#settings {
  margin-right: 5%;
  cursor: pointer;
}
ion-card-title {
  display: flex;
  align-items: center;
  justify-content: left;
  
}
ion-avatar {
  display: inline !important;
  margin-right: 2.5%;
}
ion-avatar img {
  display: inline;
  width: 75px;
  height: inherit;
}