<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button class="menu-icon"></ion-menu-button>
      </ion-buttons>
      <ion-title class="large-text">
        Balance
      </ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-content>

  <ion-card color="white">
      <ion-card-header color="white">
      </ion-card-header>
  <ion-card-content>

  <ion-grid style="width: 100%;" *ngFor="let token of tokenArr;">
    <ion-row>    
      <ion-item-sliding>
      <ion-item-options side="start">
      <ion-item-option class="receive-slide" routerLink="/my-address">Receive</ion-item-option>
      <ion-item-option class="send-slide" (click)="sendTokenOver(token.tokenid)">Send</ion-item-option>
      </ion-item-options>

  <!-- TOKENS ONLY -->
  <ion-item lines="full" 
            (click)="presentTokenDescr(token.tokenid, token.token, token.description,
                                      token.icon, token.proof, token.total, token.script,
                                      token.coinid, token.totalamount, token.scale, token.confirmed,
                                      token.unconfirmed, token.mempool, token.sendable)">
    <ion-avatar slot="start">
      <img *ngIf="token.icon" alt="Avatar" class="balance-token" src="{{ token.icon }}">
      <img *ngIf="!token.icon || token.icon.length <= 0" alt="Avatar" class="balance-token" src="assets/icon/icon.png">
    </ion-avatar>

  <ion-col size="9" style="padding: 12px;" slot="start">

    <!-- if token name is shorter than 15 -->
    <div *ngIf="token.token.length < 15">
      <ion-row style="border: none; padding-left: 5px;">
        <ion-text class="medium-text"> {{ token.token}} </ion-text>
      </ion-row>
    </div>
    <!-- if token name is longer than 15 and smaller than 30 -->   
    <div *ngIf="token.token.length >= 15 && token.token.length < 30" >
      <ion-row style="border:none; padding-left: 5px;">
        <ion-text class="medium-text"> {{ token.token.substring(0,15)+"-" }} </ion-text>
      </ion-row>
      <ion-row style="border:none; padding-left: 5px;">
        <ion-text class="small-text"> {{ token.token.substring(15, 30) }} </ion-text>
      </ion-row>
    </div>
    <!-- if token name is longer than 30 and smaller than 45 -->   
    <div *ngIf="token.token.length >= 15 && token.token.length < 45" >
      <ion-row style="border:none; padding-left: 5px;">
        <ion-text class="medium-text"> {{ token.token.substring(0,15)+"-" }} </ion-text>
      </ion-row>
      <ion-row style="border:none; padding-left: 5px;">
        <ion-text class="small-text"> {{ token.token.substring(15, 30)+"-" }} </ion-text>
      </ion-row>
      <ion-row style="border:none; padding-left: 5px;">
        <ion-text class="smaller-text"> {{ token.token.substring(30, 45) }} </ion-text>
      </ion-row>
    </div>
    <!-- if token name is longer than 45... -->   
    <div *ngIf="token.token.length >= 45" >
      <ion-row style="border:none; padding-left: 5px;">
        <ion-text class="medium-text"> {{ token.token.substring(0,15)+"-" }} </ion-text>
      </ion-row>
      <ion-row style="border:none; padding-left: 5px;">
        <ion-text class="small-text"> {{ token.token.substring(15, 30)+"-" }} </ion-text>
      </ion-row>
      <ion-row style="border:none; padding-left: 5px;">
        <ion-text class="smaller-text"> {{ token.token.substring(30, 45)+"..." }} </ion-text>
      </ion-row>
    </div>
    

    <ion-row style="border:none; padding-left: 5px;">
      <ion-text class="abbr-name smaller-text"> {{ token.token.substring(0,3) }} </ion-text>
    </ion-row>

  </ion-col>


    <ion-col size="3" slot="end">

      <ion-row style="border:none;">
        <span *ngIf="token.confirmed === token.sendable" class="confirmed-amount medium-text">{{ token.confirmed }}</span>
        <span *ngIf="token.confirmed !== token.sendable" class="confirmed-amount medium-text">{{ token.confirmed +"/"+token.sendable }}</span>
      </ion-row>

      <ion-row *ngIf="token.unconfirmed !== 0" style="border:none;">
        <span class="unconfirmed-amount medium-text">
          {{ token.unconfirmed }}
        </span>
      </ion-row>

      <ion-row *ngIf="token.mempool === 0" style="border:none;">
        <span class="unconfirmed-amount medium-text">
          {{ token.mempool }}
        </span>
      </ion-row>

    </ion-col>

  
  </ion-item>


  <ion-item-options side="end">
    <ion-item-option (click)="presentPopover($event, token.tokenid)">Token ID</ion-item-option>
  </ion-item-options>
  </ion-item-sliding>
    </ion-row>
      </ion-grid>

  

  </ion-card-content>
  </ion-card>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-buttons>
        <ion-button class="action-btn medium-text" shape="" expand="block" type="button" (click)="giveMe50()">
          <ion-icon name="cash" slot="start"></ion-icon> Gimme 50
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>