<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title color="primary">
        Balance
      </ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-content>

  <ion-card color="white">
      <ion-card-header color="white">
      </ion-card-header>
  <ion-card-content>

  <ion-grid style="width: 100%;" *ngFor="let token of tokenArr;">
    <ion-row>    
      <ion-item-sliding>
      <ion-item-options side="start">
      <ion-item-option class="receive-slide" routerLink="/my-address">Receive</ion-item-option>
      <ion-item-option class="send-slide" (click)="sendTokenOver(token.tokenid)">Send</ion-item-option>
      </ion-item-options>

  <!-- TOKENS ONLY -->
  <ion-item lines="full" 
            (click)="presentTokenDescr(token.tokenid, token.token, token.description,
                                      token.icon, token.proof, token.total, token.script,
                                      token.coinid, token.totalamount, token.scale, token.confirmed,
                                      token.unconfirmed, token.mempool, token.sendable)">
    <ion-avatar slot="start">
      <img *ngIf="token.icon" alt="Avatar" class="balance-token" src="{{ token.icon }}">
      <img *ngIf="!token.icon || token.icon.length <= 0" alt="Avatar"class="balance-token" src="assets/icon/icon.png">
    </ion-avatar>

  <ion-col size="3" style="padding: 12px;"slot="start">

    <ion-row *ngIf="token.token.length < 15" style="border: none; padding-left: 5px;">
      <ion-text class="balance-name"> {{ token.token}} </ion-text>
    </ion-row>
    <ion-row *ngIf="token.token.length >= 15" style="border: none; padding-left: 5px;">
      <ion-text class="balance-name"> {{ token.token.substring(0,15)+"..." }} </ion-text>
    </ion-row>
    <ion-row style="border:none; padding-left: 5px;">
      <ion-text class="abbr-name"> {{ token.token.substring(0,3) }} </ion-text>
    </ion-row>

  </ion-col>

  <ion-col size="3" slot="end" #balance>
  <ion-label *ngIf="token.confirmed == token.sendable" class="confirmed-amount">
    {{ token.confirmed }}
  </ion-label>
  <ion-label *ngIf="token.sendable != token.confirmed" class="confirmed-amount">
    {{ token.confirmed +"/"+token.sendable }}
  </ion-label>
  </ion-col>

  <ion-col *ngIf='token.unconfirmed !== 0' size="3" slot="end">
  <ion-label class="unconfirmed-amount" color="white">
    {{ token.unconfirmed }}
  </ion-label>
  </ion-col>

  <ion-col *ngIf='token.mempool != 0' size="3" slot="end">
  <ion-label class="unconfirmed-amount" color="#92A8D1">
    {{ token.mempool }}
  </ion-label>
  </ion-col>
  
  </ion-item>


  <ion-item-options side="end">
    <ion-item-option (click)="presentPopover($event, token.tokenid)">Token ID</ion-item-option>
  </ion-item-options>
  </ion-item-sliding>
    </ion-row>
      </ion-grid>

  

  </ion-card-content>
  </ion-card>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-buttons>
        <ion-button class="action-btn" shape="" expand="block" type="button" (click)="giveMe50()">
          <ion-icon name="cash" slot="start"></ion-icon> Gimme 50
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>