<ion-header>
  <ion-toolbar>
    <ion-title slot="start"><span style="color:#FF671E">TxPoW</span> <span style="font-size:14px;">{{ TXPOW_ID.substring(0,20)+"..." }}</span></ion-title>
  
  <ion-button slot="end" fill="clear" (click)="dismiss()" class="dismiss-btn">
  Dismiss
  </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
  <ion-grid><ion-row>
  <ion-col>
    <!-- TXN Type -->
    <ion-icon size="large" name="brush"></ion-icon>
    <h2>  Created a Token </h2>
  </ion-col>
  </ion-row>
  <!-- TXN Message (if any)-->
  <ion-row>
  <ion-col id="msg" *ngIf="description.length > 0">
    {{'"'+ description +'"' }}
  </ion-col>
  </ion-row>
  </ion-grid>
  </ion-card-header>
<!-- TXN Details -->  
<ion-grid>

  <ion-row>
    <ion-col class="info-lbl">
      Token Name
    </ion-col>

    <ion-col class="information">
      {{ tokenNameGiven }}
    </ion-col>

  </ion-row>

  <ion-row> 
    <ion-col class="info-lbl">
      Token ID
    </ion-col>

    <ion-col *ngIf="TokenID === '0x00'"class="information">
      {{ TokenID }}
    </ion-col>
    <ion-col *ngIf="TokenID !== '0x00'"class="information">
      {{ TokenID.substring(0, 15)+"..." }}
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col class="info-lbl">
      Amount Colored
    </ion-col>

    <ion-col class="information">
      {{ amountCreated }}
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col class="info-lbl">
      Stored in a Block
    </ion-col>

    <ion-col *ngIf="isinblock" class="information">
      True
    </ion-col>
    <ion-col *ngIf="!isinblock" class="information">
      False
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col class="info-lbl">
      Block #
    </ion-col>

    <ion-col class="information">
      {{ Block }}
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col class="info-lbl">
      Part of chain
    </ion-col>

    <ion-col *ngIf="ispartofchain" class="information">
      True
    </ion-col>
    <ion-col *ngIf="!ispartofchain" class="information">
      False
    </ion-col>
  </ion-row>

</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col class="info-lbl">
      <ion-text style="font-weight: 400 !important;">{{ Date.substring(4, 10) }}</ion-text><br>
      <ion-text style="font-size:18px;">{{ Date.substring(10, 20) }}</ion-text>
     </ion-col>

    <ion-col class="completed">
      Completed
    </ion-col>
  
  </ion-row>
</ion-grid>
</ion-card>


</ion-content>
