.dismiss-btn {
    height: auto;
    float: right;
    color: #48D2D3;

    --color-hover: #EE6E73;
}
.information {
    text-align: right; 
    font-weight: 400;
}
.completed {
    text-align: right;
    padding-top: 15px;
    font-weight: bold;
    font-size: 20px;
    color: #48D2D3;
}
.info-lbl {
    text-align: left;
    font-weight: 700;
}
ion-card-header {
    width: 100%;
    background: var(--card-header-color);
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    font-size: 16px;
}
ion-card-header ion-grid {
    text-align: center;
}
ion-card-header ion-icon {
    --ionicon-stroke-width: 60px;
}
ion-card-header h2 {
    font-size: 22px;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}
#msg{
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}
ion-card {
    --overflow: hidden;
    background: linear-gradient(to bottom,  var(--ion-background-color, #fff) 0%, var(--ion-background-color, #f2f2f2) 100%) !important;
    
}
ion-list {
    background: linear-gradient(to bottom,  var(--ion-background-color, #fff) 0%, var(--ion-background-color, #f2f2f2) 100%) !important;
}

h3 {
    font-weight: 700;
}

ion-content {
    --background: transparent;
}



/** Modal Custom Header... avoiding Shadow DOM */
.custom-toolbar {
    background: linear-gradient(to bottom,  var(--ion-background-color, #fff) 0%, var(--ion-background-color, #f2f2f2) 100%) !important;
    width:100%;
    padding-inline-start: 5px;
    padding-inline-end: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.txpow_id {
    color: #666666;
}
.txpow {
    font-weight: 600;
}