ion-toolbar {
    ion-title {
      font-size: 18px;
      ion-item:first-child {
        --border-color: var(--ion-color-color);
        --border-width: 0px 0px 1px 0px;
        margin-top: 12px;
        margin-left: 4px;
        margin-right: 10px;
        font-size: 18px;
        --min-height: 39px;
        font-family: manrope-bold;
        color: var(--ion-color-tertiary);
      }
      ion-item.breadcrumb:last-child {
        --border-color: #91919D;
        --border-width: 0px 0px 1px 0px;
        --min-height: 39px;
        font-family: manrope-medium;
      }
    }
  }

ion-title ion-item:hover {
    background: none;
    --background-hover: none;
}
ion-list ion-item {
    background-color: var(--ion-color-token);
    opacity: 1;
}
.item .item-content {
    background-color: transparent !important;
  }
ion-label#name h3 {
    font-family: manrope-bold;
    font-size: 16px;
}
ion-list { 
    margin-top: 7px;
    background-color: transparent;
    background: transparent;
}
ion-list ion-item {
    color: var(--ion-color-color);
    border: 1px solid var(--ion-color-item-border);
    --border-color: var(--ion-color-item-border);
    padding-right: 0;
}
ion-list ion-item ion-col {    
    margin-left: 13px;
}

.title {
    font-family: manrope-semibold;
    font-size: 16px;
    float: left;
    text-overflow: ellipsis;
    max-width: inherit;
    white-space: normal;
    word-wrap: normal;
}
.value {
    font-size: 16px;
    font-family: manrope-regular;
    text-align: right;
    float: right;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: inherit;
    overflow: hidden;
}
.copy {
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.8rem;
}
.body {
    margin-right: 30px;
    margin-left: 26px;
}