<ion-header mode="md" class="page-header ion-no-border">
  <ion-toolbar>
    <ion-title>
      <ion-item 
      id="title"
      class="no-ripple ion-no-padding" 
      lines="none">
      <ion-icon 
      routerLink="/balance" 
      class="back-btn" 
      name="arrow-back"></ion-icon>
      Balance
      </ion-item>
      <ion-item 
      id="subtitle" 
      class="breadcrumb ion-no-padding active" 
      lines="none">
        Token details
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content">
  <div *ngIf="prompt && prompt.length > 0" class="center prompt">
    {{ prompt }}
  </div>


  <ion-list *ngFor="let token of $token" lines="none">
    <ion-item *ngIf="expand" class="ion-no-padding ion-no-margin nft-large">
      <div (click)="expandImage()">
        <ion-icon name="resize-outline"></ion-icon>
        <img 
          class="custom-icon-big"
          *ngIf="token?.tokenid !== '0x00' && token?.icon.length == 0" 
          [src]="createIcon( token?.tokenid )"/>
          <img 
          class="custom-icon-big"
          *ngIf="token?.tokenid !== '0x00' && token?.icon.length > 0" 
          [src]="token?.icon"/>
          <img 
          class="custom-icon-big"
          *ngIf="token?.tokenid === '0x00'" 
          alt="minima" 
          src="assets/minimaIcon.svg">
      </div>
    </ion-item>
    <ion-item 
    class="ion-no-padding" 
    color="none">
      <ion-avatar slot="start" (click)="expandImage()">
        <ion-icon  name="expand-outline"></ion-icon>
        <img 
        class="custom-icon" 
        *ngIf="token?.tokenid !== '0x00' && token?.icon.length == 0" 
        [src]="createIcon( token?.tokenid )"/>
        <img 
        class="custom-icon" 
        *ngIf="token?.tokenid !== '0x00' && token?.icon.length > 0" 
        [src]="token?.icon"/>
        <img 
        *ngIf="token?.tokenid === '0x00'" 
        class="custom-icon" 
        alt="minima" 
        src="assets/minimaIcon.svg"> 
      </ion-avatar>
      <ion-label id="name">
        <h3>{{token?.token}}</h3> 
      </ion-label>
    </ion-item>
    <ion-item
    class="ion-no-padding" 
    *ngIf="token?.description && token?.description.length > 0" 
    color="none">
      <ion-label class="description">
        <h6>Token Description</h6>
        <p class="description">{{ token?.description }}</p>      
      </ion-label>
    </ion-item>
    <ion-item color="none" class="ion-no-padding">
      <ion-col class="title">
        Name
      </ion-col>
      <ion-col class="value">
        {{token?.token}}
      </ion-col>
    </ion-item>
    <ion-item color="none" class="ion-no-padding">
      <ion-col class="title">
        Token ID
      <a 
      [id]="'tokenid'+token?.tokenid"
      class="copy" 
      (click)="copy(token?.tokenid, 'tokenid'+token?.tokenid)">
        Copy 
      </a>
      </ion-col>
      <ion-col class="value">
        {{token?.tokenid}}
      </ion-col>
    </ion-item>
    <ion-item 
    color="none" class="ion-no-padding" 
    [hidden]="token?.tokenid == '0x00'">
      <ion-col class="title">
        Coin ID
      <a 
      [id]="'coinid'+token?.coinid"
      class="copy" 
      (click)="copy(token?.coinid, 'coinid'+token?.coinid)">
        Copy 
      </a>
      </ion-col>
      <ion-col class="minima-numeric value">
        {{token?.coinid}}
      </ion-col>
    </ion-item>
    <ion-item color="none" class="ion-no-padding">
      <ion-col size="3" sizeXs="4" class="title">
        Total Supply
      </ion-col>
      <ion-col class="minima-numeric value">
        <h6 class="ion-no-padding ion-no-margin"> {{ token?.total }}</h6>
        <p class="ion-no-padding ion-no-margin"> {{ token?.totalamount }}</p>  
      </ion-col>
    </ion-item>
    <ion-item *ngIf="token?.scale" color="none" class="ion-no-padding">
      <ion-col class="title">
        Scale
      </ion-col>
      <ion-col class="minima-numeric value">
        {{ token?.scale }}  
      </ion-col>
    </ion-item>
    <ion-item *ngIf="token?.confirmed" color="none" class="ion-no-padding">
      <ion-col size="3" sizeXs="4" class="title">
        Confirmed Amount
      </ion-col>
      <ion-col class="minima-numeric value">
        {{token?.confirmed}}
      </ion-col>
    </ion-item>
    <ion-item *ngIf="token?.unconfirmed" color="none" class="ion-no-padding">
      <ion-col size="3" sizeXs="4" class="title">
        Unconfirmed Amount
      </ion-col>
      <ion-col class="minima-numeric value">
        {{token?.unconfirmed}}
      </ion-col>
    </ion-item>
    <ion-item *ngIf="token?.sendable" color="none" class="ion-no-padding">
      <ion-col size="3" sizeXs="4" class="title">
        Sendable Amount
      </ion-col>
      <ion-col class="value minima-numeric">
        {{token?.sendable}}
      </ion-col>
    </ion-item>
    <ion-item color="none" class="ion-no-padding">
      <ion-col size="3" sizeXs="4" class="title">
        Mempool Amount
      </ion-col>
      <ion-col *ngIf="token?.mempool" class="minima-numeric value">
        {{token?.mempool}}
      </ion-col>
    </ion-item>
    <ion-item *ngIf="token?.scale" color="none" class="ion-no-padding">
      <ion-col class="title">
        Token Type
      </ion-col>
      <ion-col *ngIf="token?.scale !== '44'" class="value">
        Value transfer
      </ion-col>
      <ion-col *ngIf="token?.scale === '44'" class="value nft">
        NFT
      </ion-col>
    </ion-item>
    <ion-item *ngIf="token?.tokenid !== '0x00' && token?.proof" color="none" class="ion-no-padding">
      <ion-col class="title">
        Proof
      </ion-col>
      <ion-col class="value" style="white-space: normal;">
        {{token?.proof}}
      </ion-col>
    </ion-item>
    <ion-item 
    color="none" 
    class="ion-no-padding"
    *ngIf="token?.tokenid !== '0x00' && token?.proof">
      <ion-col class="title">
        Validate Proof
      </ion-col>
      <ion-col class="value">
        <ion-button 
        *ngIf="token?.proof" 
        class="small-text validate-btn"
        fill="outline" 
        size="small" 
        (click)="validateProof(token?.tokenid)">
          Validate
        </ion-button> 
      </ion-col>
    </ion-item>
  </ion-list>
</ion-content>

<app-footer></app-footer>