<ion-app>
<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title color="primary">Web</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content *ngIf="isCameraOpen==false">

    <ion-list lines="none">
      <ion-item lines="none" class="web-img">
        <ion-img class="web-img" [src]="identifyImg()"></ion-img>
      </ion-item>
      <ion-item lines="none">
        <ion-text class="web-lbl" style="font-family: Aeonik-light; width:100%; text-align: center;">Minima Web ready to scan.</ion-text>
      </ion-item>
      
      <ion-item>
        <ion-text class="web-lbl" style="font-family: Aeonik-light; width:100%; text-align: center;">Navigate to <ion-note style="font-weight: bold;">"https://dev.minima.global"</ion-note> on desktop.</ion-text>
      </ion-item>
    </ion-list>
    
</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button class="qr-button" expand="block" (click)="stopCamera()"  *ngIf="isCameraOpen===true">
        Stop scanning
       </ion-button> 

      <ion-button class="qr-button" (click)="scanQR()" *ngIf="isCameraOpen===false">
        <ion-icon name="qr-scanner"></ion-icon> 
        Scan Qr Code
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
</ion-app>