.qr-button {
    width: 100%;
    height: 40px;
}
.qr-button:hover {
    height: 50px;
}
ion-icon {
    padding: 5px;
}
.web-img {
    padding-top: 20px;
    margin: auto;
    width: 300px;
    align-items: center;
}
.web-lbl {
    white-space: normal;
    margin: auto;
    align-items: center;
    font-family: 'Aeonik-light';

}


// iOS & Android layout fix
// .ios web-img {
//     padding-top: 20px;
// }
// .md web-img {
//     padding-top: 20px;
// }
