.terminal {
    min-height: 100%;;
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
    font-family: monospace;
}


textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}