<ion-app>
<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">
      Terminal
    </ion-title>
      <ion-item lines="none" slot="end" style="font-family: 'Optima'; font-size: 20px;">aA</ion-item>
  </ion-toolbar>
</ion-header>


<ion-content #ionContent>
  
  <!-- Terminal -->
  <textarea
  #terminal
  class="terminal" 
  autocapitalize="false"
  spellcheck="false"
  autocorrect="off"></textarea>
</ion-content>
</ion-app>
<!-- <div class="terminal">
  <div id="history">
    
  </div>
  <div class="line">
    <span id="path">c:/&nbsp;>&nbsp;</span>
    <input type="text" id="input">
  </div>
</div> -->

