.terminal {
    min-height: 100%;;
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
    font-family: monospace;
}

.resize-tool-btn {
    font-family: 'Aeonik';
    font-size: 16px;
    padding-right: 15px;
    color: #929396;
    text-transform: none;
}


textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

@media only screen and (min-width: 992px) {
    .terminal {
        font-size: 20px;
    }
}