ion-list ion-item ion-label {
    white-space: normal;
    font-size: 0.7rem !important;
    font-family: manrope-bold;
}
ion-list ion-item ion-select {
    font-size: 0.7rem !important;
    line-height: 23px;
}
ion-list-header {
    text-transform: none;
}
