ion-list ion-item ion-label {
    white-space: normal;
    font-size: 0.7rem !important;
    font-family: manrope-bold;
}
ion-list ion-item ion-select {
    font-size: 0.7rem !important;
    line-height: 23px;
}
ion-list-header {
    text-transform: none;
}
ion-select-option {
    color: var(--ion-color-primary);
} 
[aria-checked=true].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
    color: var(--ion-color-tertiary);
}