<ion-header class="page-header ion-no-border">
  <ion-toolbar>
    <ion-title>
      <ion-item id="title" lines="none" class="ion-no-padding ion-no-margin">
        New contact
        <ion-buttons slot="end">
          <ion-button (click)="dismiss()">
            Dismiss
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content">

  <div class="avatar">
    <ion-avatar>
      <img *ngIf="av.length === 0" src="assets/user.svg">
      <img *ngIf="av.length !== 0" [src]="av">
    </ion-avatar>
  </div>

    <form [formGroup]="contactForm" id="contactForm" (ngSubmit)="addContact()">
    <ion-list>
      <ion-item class="no-ripple ion-no-padding" lines="none">
        <ion-label position="stacked">
          <ion-icon 
          class="input-error-icon" 
          *ngIf="name.invalid && name.touched" 
          name="alert-circle"></ion-icon>
          Name <span style="font-family: manrope-light; color:var(--ion-color-optional)">(optional)</span></ion-label>
        <ion-input name="name" placeholder="anonymous" formControlName="NAME"></ion-input>
      </ion-item>
      <ion-item class="error ion-no-padding" lines="none" *ngIf="name.invalid && name.touched">
        <ion-note class="error-message">
          <span> Invalid name format!</span>
          <span style="margin-left: 2px"> A name must be alphanumeric and can only contain a dot or underscore.</span> 
        </ion-note>
      </ion-item>
      <ion-item class="no-ripple ion-no-padding" lines="none">
        <ion-label position="stacked">
          <ion-icon 
          class="input-error-icon" 
          *ngIf="address.invalid && address.touched" 
          name="alert-circle"></ion-icon>
          Address</ion-label>
        <ion-input (ionChange)="changeIcon($event)" name="address" placeholder="Enter a valid wallet address" formControlName="ADDRESS"></ion-input>
      </ion-item>
      <ion-note *ngIf="address.invalid && address.touched" class="error-message">
        <span style="margin-left: 2px"> A wallet address is required.</span>
        <span style="margin-left: 2px"> An address must begin with 0x or Mx.</span> 
      </ion-note>
      
      <ion-item class="no-ripple ion-no-padding" lines="none">
        <ion-label position="stacked">Description <span style="font-family: manrope-light; color:var(--ion-color-optional)">(optional)</span></ion-label>
        <ion-input name="description" placeholder="Enter a description" formControlName="DESCRIPTION"></ion-input>
      </ion-item>
      <ion-item class="no-ripple ion-no-padding" lines="none">
        <ion-label position="stacked">
          <ion-icon 
          class="input-error-icon" 
          *ngIf="avatar.invalid && avatar.touched" 
          name="alert-circle"></ion-icon>  
          Avatar <span style="font-family: manrope-light; color:var(--ion-color-optional)">(optional)</span></ion-label>
        <ion-input name="avatar" placeholder="Enter a custom avatar URL" formControlName="AVATAR"></ion-input>
      </ion-item>
      <ion-note *ngIf="avatar.invalid && avatar.touched" class="error-message">
        <span> Invalid avatar icon URL!</span>
        <span> An icon URL must consist of maximum 255 characters with either ".jpg", ".png" or ".gif" to be valid.</span> 
      </ion-note>

      <ion-item class="ion-no-padding" lines="none">
        <ion-button slot="end" type="submit" [disabled]="contactForm.invalid" class="createContact" fill="clear">
          Create Contact
        </ion-button>
      </ion-item>
    </ion-list>
  </form>

</ion-content>