div.avatar {
  margin-top: 10px;
  display:flex;
  align-items: center;
  justify-content: center;
}
ion-list {
  padding: 0;
}
ion-list ion-item {
  --inner-padding-end: 0;
}
ion-avatar {
  border: 1px solid #f0f0fa;
}
ion-title {
  font-size: 1.2rem;
  font-family: manrope-bold;
  color: var(--ion-color-tertiary);
}
ion-input {
  font-size: 14px;
  padding-left: 10px !important;
  color: #000;
  background-color: var(--ion-color-inputs);
  border: 1px solid #f0f0fa;
}
ion-item ion-label {
  white-space: normal;
  word-break: normal;
  font-size: 20px;
  font-family: manrope-bold;
  color: var(--ion-color-tertiary);
  margin-bottom: 10px;
}
button.footer {
  width: 100%;
  text-align: center;
  text-transform: none;
  font-family: manrope-bold;
  color: #fff;
}
button.footer:hover {
  cursor: pointer;
}
#submitBtn {
  width: 100%;
  background: transparent;
  font-size: 1.0rem;
}
ion-item.error {
  display: flex;
  align-items: center;
  justify-content: center;
}
ion-item.error span {
  color: var(--ion-color-tertiary);
  display: inline-block;
  vertical-align: middle;
}
ion-note.error-message ion-icon {
  color: var(--ion-color-secondary);
  font-size: 1.0rem;
  display: inline-block;
  vertical-align: middle;
}
ion-note.error-message { 
  display: block;
}
ion-button.createContact {
  height: 35px;
  width: 164px;
  --border-radius: 0;
  --background: var(--ion-color-primary);
  text-transform: none;
  font-family: manrope-bold;
  color: #fff !important;
  border-radius: 0;
  float: right;
  margin-top: 22px;
}
ion-button.createContact:hover {
  --background: #346EE5;
}
ion-title {
  ion-item {
    --inner-padding-end: 0;
  }
}

.optional {
  font-family: manrope-light; 
  color: var(--ion-color-tertiary);
}

span.dismiss { 
  cursor: pointer;
  font-size: 16px;
  color: var(--ion-color-primary);
}
span.dismiss:hover {
  color: var(--ion-color-secondary);
}