<ion-header mode="md" class="page-header ion-no-border">
  <ion-toolbar>
    <ion-title>
      <ion-item id="title" lines="none" class="ion-no-padding ion-no-margin">
        New contact
        <span (click)="dismiss()" class="dismiss" slot="end">Dismiss</span>
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content">

  <div class="avatar">
    <ion-avatar>
      <img *ngIf="av.length === 0" src="assets/user.svg">
      <img *ngIf="av.length !== 0" [src]="av">
    </ion-avatar>
  </div>
  
    <form *ngIf="contactForm"
    [formGroup]="contactForm" 
    id="contactForm" 
    (ngSubmit)="addContact()">
    <ion-list>
      <ion-item class="no-ripple ion-no-padding" lines="none">
        <ion-label position="stacked">
          Name <span class="optional">(optional)</span></ion-label>
        <ion-input 
        name="name" 
        placeholder="Anonymous" 
        formControlName="NAME">
          <ion-icon 
          class="input-error-icon" 
          *ngIf="name.invalid && name.touched" 
          name="alert-circle"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item class="error ion-no-padding" lines="none" *ngIf="name.invalid && name.touched">
        <ion-note class="error-message">
          <div> Invalid name format!</div>
          <div> Must be alphanumeric and may contain an underscore or a fullstop.</div> 
        </ion-note>
      </ion-item>
      <ion-item class="no-ripple ion-no-padding" lines="none">
        <ion-label position="stacked">
          Address</ion-label>
        <ion-input 
        name="address" 
        formControlName="ADDRESS"
        placeholder="Enter a valid wallet address" 
        (ionChange)="changeIcon($event)" 
        >
          <ion-icon 
          class="input-error-icon" 
          *ngIf="address.invalid && address.touched" 
          name="alert-circle"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-note *ngIf="address.invalid && address.touched" class="error-message">
        <div> A wallet address is required.</div>
        <div> Must begin with 0x or Mx.</div> 
      </ion-note>
      
      <ion-item class="no-ripple ion-no-padding" lines="none">
        <ion-label position="stacked">
          Description 
          <span class="optional">(optional)</span></ion-label>
        <ion-input 
        name="description" 
        placeholder="Enter a description" 
        formControlName="DESCRIPTION"></ion-input>
      </ion-item>
      <ion-item class="no-ripple ion-no-padding" lines="none">
        <ion-label position="stacked">  
          Avatar <span class="optional">(optional)</span></ion-label>
        <ion-input 
        name="avatar" 
        placeholder="Enter a custom avatar URL" 
        formControlName="AVATAR">
        <ion-icon 
        class="input-error-icon" 
        *ngIf="avatar.invalid && avatar.touched" 
        name="alert-circle"></ion-icon></ion-input>
      </ion-item>
      <ion-note *ngIf="avatar.invalid && avatar.touched" class="error-message">
        <div> Invalid avatar icon URL!</div>
        <div>Maximum length of 255 characters. URL must end in .jpg, .png, .gif or .svg to be valid.</div> 
      </ion-note>

      <ion-item class="ion-no-padding" lines="none">
        <ion-button slot="end" type="submit" [disabled]="contactForm.invalid" class="createContact" fill="clear">
          Create Contact
        </ion-button>
      </ion-item>
    </ion-list>
  </form>

</ion-content>